$font-main: 'League Gothic',
sans-serif;

body {
    font-family: $font-main;
    min-width: 320px;
    overflow-x: hidden;
}

div {
    box-sizing: border-box;
}

ul,
ol {
    margin: 0;
    padding: 0;
}

li {
    list-style: none;
}

button {
    cursor: pointer;
    border: none;

    &:focus {
        outline: none;
    }
}

a {
    text-decoration: none;
}

.container {
    max-width: 1000px;
    padding: 0 20px;
    margin: 0 auto;
}

.logo {
    font-size: 32px;
    color: rgb(7, 110, 159);
    text-transform: uppercase;
    text-align: center;

    span {
        color: #22aaec;
    }
}

.menu {
    display: flex;
    justify-content: center;
    margin-top: 18px;
    margin-bottom: 17px;

    ul {
        li {
            display: inline-block;

            &+li {
                margin-left: 32px;
            }

            a {
                position: relative;
                font-size: 10px;
                font-family: "Arial", sans-serif;
                padding: 6px 20px;
                color: rgb(112, 112, 112);
                text-transform: uppercase;
                text-align: center;

                &::before {
                    content: '';
                    position: absolute;
                    left: calc(50% - (100% / 2));
                    width: 100%;
                    height: 0px;
                    background: transparent;
                    outline: 1px solid transparent;
                    border-top: 1px solid transparent;
                    transition: all 0.2s ease-in-out;
                    z-index: -1;
                }

                &:hover {
                    color: #fff;
                }

                &:hover::before {
                    height: 20px;
                    background: #0771a2;
                    outline-color: #045279;
                    border-top-color: #469bbf;
                }
            }
        }

        .active {
            pointer-events: none;
            cursor: default;

            a {
                color: #fff;
            }

            a:before {
                height: 20px;
                background: #0771a2;
                outline-color: #045279;
                border-top-color: #469bbf;
            }
        }
    }
}

header {
    padding-top: 16px;

    .logo-social-wrap {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .social {
            position: absolute;
            right: 0;
            display: flex;
            justify-self: flex-end;

            .item {
                opacity: 0.2;
                transition: opacity 0.2s ease;

                &:hover {
                    opacity: 0.4;
                }

                a {
                    display: inline-block;
                    width: 17px;
                    height: 20px;
                }

                &+.item {
                    margin-left: 10px;
                }

                &:first-child a {
                    background: url(../Svg/evernote.svg) no-repeat center / contain;
                }

                &:nth-child(2) a {
                    background: url(../Svg/twitter.svg) no-repeat center / contain;
                }

                &:nth-child(3) a {
                    background: url(../Svg/pinterest.svg) no-repeat center / contain;
                }

                &:nth-child(4) a {
                    background: url(../Svg/linked-in.svg) no-repeat center / contain;
                }

                &:nth-child(5) a {
                    background: url(../Svg/Facebook.svg) no-repeat center / contain;
                }

                &:last-child a {
                    background: url(../Svg/delicious.svg) no-repeat center / contain;
                }
            }
        }
    }

    .slider {
        background: url(../Image/main-img.jpg) no-repeat center / cover;
        border-top: 2px solid #22aaec;
        border-bottom: 2px solid #22aaec;

        .text-wrap {
            display: flex;
            flex-direction: column;
            align-items: center;

            h1 {
                max-width: 300px;
                margin-top: 93px;
                margin-bottom: 19px;
                font-size: 60px;
                color: rgb(7, 110, 159);
                text-transform: uppercase;
                text-align: center;
                padding: 18px 34px;
                background: rgba(255, 255, 255, 0.8);
            }

            p {
                margin-top: 0;
                margin-bottom: 77px;
                font-size: 30px;
                color: rgb(7, 110, 159);
                text-transform: uppercase;
                text-align: center;
                background: rgba(255, 255, 255, 0.8);
                padding: 13px;
                max-width: 800px;
                
            }

            span {
                color: #22aaec;
            }
        }

        .people-bg {
            padding: 25px 0;
            background-color: rgba(0, 0, 0, 0.5);

            .people-wrap {
                display: flex;
                justify-content: center;

                .item {
                    padding: 4px 1px 6px 44px;
                    position: relative;
                    width: 150px;
                    height: 69px;
                    border-style: solid;
                    border-width: 3px;
                    border-color: rgb(255, 255, 255);
                    background-color: rgb(255, 255, 255);
                    opacity: 0.902;

                    &:last-child {
                        margin-right: 33px;
                    }
                    &:first-child {
                        margin-left: 33px;
                    }
                    &+.item {
                        margin-left: 90px;
                    }

                    &:first-child .img {
                        background: url(../Image/1.png) no-repeat center / cover;
                    }

                    &:nth-child(2) .img {
                        background: url(../Image/2.png) no-repeat center / cover;
                    }

                    &:nth-child(3) .img {
                        background: url(../Image/3.png) no-repeat center / cover;
                    }

                    &:last-child .img {
                        background: url(../Image/4.png) no-repeat center / cover;
                    }

                    .img {
                        position: absolute;
                        left: -25%;
                        top: -4px;
                        width: 69px;
                        height: 72px;
                        background: red;
                        border-radius: 50%;
                        box-shadow: 0px 0px 2px 0px rgba(0, 0, 0, 0.56);
                    }

                    .text {
                        font-size: 9px;
                        font-family: "Arial";
                        color: rgb(81, 81, 81);
                        font-style: italic;
                        line-height: 1.556;
                    }

                    span {
                        font-size: 9px;
                        font-family: "Arial";
                        color: rgb(130, 130, 130);
                    }
                }
            }

        }
    }
}

.main {
    .main-wrap {
        display: flex;
        border-bottom: 1px dotted #d5d5d5;

        .left-content {
            display: flex;
            flex-direction: column;
            .about {
                width: 201px;
                border-bottom: 1px dotted #d5d5d5;

                .autor {
                    margin-top: 32px;
                    font-size: 22px;
                    color: rgb(7, 110, 159);
                }

                .text {
                    margin-top: 14px;
                    margin-bottom: 17px;
                    font-size: 10px;
                    font-family: "Arial";
                    color: #5c5c5c;
                    font-weight: bold;
                    line-height: 1.8;
                    max-width: 171px;

                    span {
                        color: rgb(7, 110, 159);
                    }
                }
            }

            .related-post {
                width: 201px;
                padding-top: 18px;
                border-bottom: 1px dotted #d5d5d5;

                .title {
                    font-size: 22px;
                    color: rgb(7, 110, 159);
                }

                .item {
                    &:nth-child(2) .img {
                        background: url(../Image/image-post-1.jpg) no-repeat center / contain;
                    }

                    &:nth-child(3) .img {
                        background: url(../Image/image-post-2.jpg) no-repeat center / contain;
                    }

                    &:last-child .img {
                        background: url(../Image/image-post-3.jpg) no-repeat center / contain;
                    }

                    &:last-child {
                        margin-bottom: 26px;
                    }

                    a {
                        .wrap {
                            display: flex;
                            margin-top: 8px;

                            .img {
                                width: 50px;
                                height: 40px;
                            }

                            .wrap-tw {
                                display: flex;
                                flex-direction: column;
                                margin-left: 19px;
                                justify-content: center;

                                .name-post {
                                    font-size: 10px;
                                    font-family: "Arial";
                                    color: rgb(92, 92, 92);
                                    font-weight: bold;
                                }

                                .number {
                                    margin-top: 5px;
                                    position: relative;
                                    font-size: 10px;
                                    font-family: "Arial";
                                    color: rgb(92, 92, 92);
                                    font-style: italic;
                                    margin-left: 18px;

                                    &::before {
                                        position: absolute;
                                        content: '';
                                        top: 0;
                                        left: -18px;
                                        background: url(../Svg/bubbles.svg) no-repeat center / contain;
                                        width: 16px;
                                        height: 16px;
                                    }
                                }
                            }
                        }
                    }
                }
            }

            .currency {
                width: 201px;

                .title {
                    font-size: 22px;
                    color: rgb(7, 110, 159);
                    margin-top: 24px;
                    margin-bottom: 12px;
                }

                .wrap {
                    margin-bottom: 45px;
                    display: flex;

                    .column {
                        &+.column {
                            margin-left: 1px;
                        }
                    }

                    .name {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 10px;
                        font-family: "Arial";
                        width: 39px;
                        height: 19px;
                        background-color: rgb(7, 110, 159);
                        color: #fff;
                    }

                    .item {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        width: 39px;
                        font-size: 10px;
                        font-family: "Arial";
                        color: rgb(7, 110, 159);
                        height: 19px;
                        background-color: rgba(144, 212, 245, 0.5);
                        margin-top: 1px;
                    }

                    .status {
                        .icon {
                            width: 14px;
                            height: 10px;
                        }

                        .item:nth-child(2) .icon {
                            background: url(../Svg/arrow-head.svg) no-repeat center / contain;
                        }

                        .item:nth-child(3) .icon {
                            background: url(../Svg/arrow-head-kopia.svg) no-repeat center / contain;
                        }

                        .item:last-child .icon {
                            background: url(../Svg/arrow-head.svg) no-repeat center / contain;
                        }
                    }
                }
            }
        }

        .center-content {
            width: 100%;
            border-left: 1px dotted #d5d5d5;

            .why-should {
                position: relative;
                padding: 20px 0 20px 13px;
                border-bottom: 1px dotted #d5d5d5;
                border-right: 1px dotted #d5d5d5;

                &::before {
                    content: '';
                    position: absolute;
                    top: -11px;
                    left: 0;
                    width: 100%;
                    height: 9px;
                    background: #fff;
                    border-top: 2px solid #22aaec;
                }

                .title {
                    font-size: 32px;
                    color: rgb(7, 110, 159);
                    margin-bottom: 17px;
                }

                .wrap-center {
                    display: flex;
                    .item-wrap {
                        display: flex;
                        width: 147px;
                        flex-shrink: 0;

                    .item {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        border-radius: 50%;
                        background: rgb(34, 170, 236);
                        width: 52px;
                        height: 51px;
                        font-size: 8px;
                        font-family: "Arial";
                        color: rgb(255, 255, 255);
                        font-weight: bold;
                        text-align: center;
                        margin-bottom: 32px;
                    }

                    .autor {
                        margin-left: 11px;
                        margin-right: 28px;
                        background: rgb(34, 170, 236) url(../Svg/user.svg) no-repeat center / contain;
                    }
                }

                    .text {
                        max-width: 551px;
                        font-size: 10px;
                        font-family: "Arial";
                        color: rgb(92, 92, 92);
                        line-height: 1.8;
                        margin-bottom: 32px;
                    }
                }

                .wrap-bottom {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    margin-bottom: 20px;

                    a {
                        position: relative;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 10px;
                        font-family: "Arial";
                        color: rgb(255, 255, 255);
                        font-weight: bold;
                        background-color: #076e9f;
                        margin-left: 145px;
                        border-style: solid;
                        border-width: 1px;
                        border-color: rgb(4, 82, 121);
                        background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.2) 0%, rgba(255, 255, 255, 0.2) 100%);
                        box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.25);
                        width: 68px;
                        height: 19px;

                        &::before {
                            content: '';
                            position: absolute;
                            bottom: -2px;
                            left: 0;
                            width: 100%;
                            height: 3px;
                            background: #000;
                            opacity: 0;
                            transition: opacity 0.3s ease-in-out;
                        }

                        &:hover:before {
                            opacity: 1;
                        }
                    }

                    .like-comments {
                        position: relative;
                        right: -5px;
                        display: flex;
                        background-color: rgb(144, 212, 245);
                        padding: 8px 7px 4px 13px;
                        font-size: 10px;
                        font-family: "Arial";
                        color: rgb(7, 110, 159);

                        &::before {
                            content: '';
                            position: absolute;
                            bottom: -4px;
                            right: 0px;
                            border: 2px solid transparent;
                            border-left: 2px solid #076e9f;
                            border-top: 2px solid #076e9f;
                        }

                        .icon {
                            margin-right: 10px;

                            .sv0 {
                                width: 17px;
                                height: 15px;
                            }

                            .sv1 {
                                width: 16px;
                                height: 16px;
                            }

                            svg {
                                fill: #fff;
                            }
                        }

                        .like {
                            display: flex;
                            margin-right: 15px;
                        }

                        .comments {
                            display: flex;
                        }
                    }
                }
            }

            .comments-card-wrap {
                display: flex;
                justify-content: space-between;
                padding-top: 19px;
                padding-left: 13px;

                .comments-card {
                    border-top-left-radius: 15px;
                    position: relative;
                    display: flex;
                    flex-direction: column;
                    width: 100%;
                    height: 214px;
                    background: #eaeaea;
                    padding: 26px 14px 30px 30px;
                    &:first-child {
                        margin-right: 19px;
                    }

                    &::before {
                        position: absolute;
                        content: '';
                        bottom: -4px;
                        left: 0;
                        width: 100%;
                        height: 30px;
                        background: url(../Image/shadow.png) no-repeat center;
                        z-index: -1;
                        background-size: 100% 40px;
                        z-index: -1;
                        opacity: 0.5;
                    }

                    &:first-child {
                        .text {
                            margin-top: 30px;
                        }
                    }

                    .title {
                        max-width: 214px;
                        font-size: 22px;
                        color: rgb(7, 110, 159);
                        text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.75);
                    }

                    .posted {
                        margin-top: 2px;
                        font-size: 10px;
                        font-family: "Arial";
                        color: rgb(135, 135, 135);

                        span {
                            color: #076e9f;
                        }
                    }

                    .text {
                        height: 69px;
                        overflow: hidden;
                        font-size: 10px;
                        font-family: "Arial";
                        color: rgb(92, 92, 92);
                        line-height: 1.8;
                        margin-top: 6px;
                    }

                    a {
                        font-size: 10px;
                        font-family: "Arial";
                        color: rgb(7, 110, 159);

                        &:hover {
                            text-decoration: underline;
                        }
                    }

                    .like-comment-wrap {
                        position: absolute;
                        bottom: 0;
                        left: 0;
                        width: 100%;
                        height: 30px;
                        display: flex;
                        align-items: center;
                        justify-content: flex-end;
                        background: #f4f3f3;
                        padding-right: 13px;
                        z-index: 2;

                        .icon {
                            margin-right: 4px;
                        }

                        span {
                            font-size: 10px;
                            font-family: "Arial";
                            color: rgb(7, 110, 159);
                        }

                        .mcl {
                            display: flex;

                            svg {
                                fill: #90d4f5;
                            }

                            .sv0 {
                                width: 17px;
                                height: 15px;
                            }

                            .sv1 {
                                width: 16px;
                                height: 15px;
                            }
                        }

                        .like {
                            margin-right: 14px;
                        }
                    }
                }
            }

            .ad-component {
                cursor: pointer;
                position: relative;
                display: flex;
                justify-content: center;
                align-items: center;
                font-size: 12px;
                font-family: "Arial";
                color: rgb(99, 99, 99);
                margin: 30px 0 34px 13px;
                background: #f4f3f3;
                background-image: -webkit-linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0.02) 100%);
                width: 100%;
                height: 81px;

                &::before {
                    position: absolute;
                    content: '';
                    bottom: -4px;
                    left: 0;
                    width: 100%;
                    height: 30px;
                    background: url(../Image/shadow.png) no-repeat center;
                    background-size: 101% 40px;
                    z-index: -1;
                    opacity: 0.7;
                }

            }
        }
    }
}

.map-sect {
    .title {
        margin: 18px 0;
        font-size: 32px;
        color: rgb(7, 110, 159);
        text-shadow: 0px 1px 0px rgba(255, 255, 255, 0.5);
    }

    #map {
        width: 100%;
        height: 204px;
        box-shadow: 0px 0px 1px 0px rgba(0, 0, 0, 1.0);
        margin-bottom: 50px;
    }
}
footer {
    .wrap {
        padding: 16px 0;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border-bottom: 1px dotted #d5d5d5;
        .logo {
            font-size: 16px;
            margin: 0;
            text-align: left;
            line-height: 1;
        }
        .menu {
            margin: 0;
            ul {
                li {
                    & + li {

                        margin-left: 14px;
                    }
                }
            }
        }
    }
    .copyright {
        font-size: 10px;
        font-family: "Arial";
        color: rgb(120, 120, 120);
        text-transform: uppercase;
        text-align: center;
        margin: 13px 0;
    }
}