@font-face {
    font-family: 'TT Travels';
    src: url('../fonts/TTTravels-Medium.woff2') format('woff2'),
        url('../fonts/TTTravels-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'TT Travels';
    src: url('../fonts/TTTravels-BoldItalic.woff2') format('woff2'),
        url('../fonts/TTTravels-BoldItalic.woff') format('woff');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: 'TT Travels';
    src: url('../fonts/TTTravels-ExtraBold.woff2') format('woff2'),
        url('../fonts/TTTravels-ExtraBold.woff') format('woff');
    font-weight: 800;
    font-style: normal;
}

@font-face {
    font-family: 'TT Travels';
    src: url('../fonts/TTTravels-ExtraLightItalic.woff2') format('woff2'),
        url('../fonts/TTTravels-ExtraLightItalic.woff') format('woff');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: 'TT Travels';
    src: url('../fonts/TTTravels-Regular.woff2') format('woff2'),
        url('../fonts/TTTravels-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Travels';
    src: url('../fonts/TTTravels-DemiBoldItalic.woff2') format('woff2'),
        url('../fonts/TTTravels-DemiBoldItalic.woff') format('woff');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: 'TT Travels';
    src: url('../fonts/TTTravels-BlackItalic.woff2') format('woff2'),
        url('../fonts/TTTravels-BlackItalic.woff') format('woff');
    font-weight: 900;
    font-style: italic;
}

@font-face {
    font-family: 'TT Travels';
    src: url('../fonts/TTTravels-MediumItalic.woff2') format('woff2'),
        url('../fonts/TTTravels-MediumItalic.woff') format('woff');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: 'Schnyder X Cond L Demi';
    src: url('../fonts/SchnyderXCondLDemi.woff2') format('woff2'),
        url('../fonts/SchnyderXCondLDemi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TT Travels';
    src: url('../fonts/TTTravels-Thin.woff2') format('woff2'),
        url('../fonts/TTTravels-Thin.woff') format('woff');
    font-weight: 100;
    font-style: normal;
}

@font-face {
    font-family: 'TT Travels';
    src: url('../fonts/TTTravels-ExtraBoldItalic.woff2') format('woff2'),
        url('../fonts/TTTravels-ExtraBoldItalic.woff') format('woff');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: 'TT Travels';
    src: url('../fonts/TTTravels-DemiBold.woff2') format('woff2'),
        url('../fonts/TTTravels-DemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
}

@font-face {
    font-family: 'TT Travels';
    src: url('../fonts/TTTravels-ExtraLight.woff2') format('woff2'),
        url('../fonts/TTTravels-ExtraLight.woff') format('woff');
    font-weight: 200;
    font-style: normal;
}

@font-face {
    font-family: 'TT Travels';
    src: url('../fonts/TTTravels-Italic.woff2') format('woff2'),
        url('../fonts/TTTravels-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
}

@font-face {
    font-family: 'TT Travels';
    src: url('../fonts/TTTravels-Light.woff2') format('woff2'),
        url('../fonts/TTTravels-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'TT Travels';
    src: url('../fonts/TTTravels-Black.woff2') format('woff2'),
        url('../fonts/TTTravels-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'TT Travels';
    src: url('../fonts/TTTravels-ThinItalic.woff2') format('woff2'),
        url('../fonts/TTTravels-ThinItalic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
}

@font-face {
    font-family: 'TT Travels';
    src: url('../fonts/TTTravels-LightItalic.woff2') format('woff2'),
        url('../fonts/TTTravels-LightItalic.woff') format('woff');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: 'TT Travels';
    src: url('../fonts/TTTravels-Bold.woff2') format('woff2'),
        url('../fonts/TTTravels-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Schnyder X Cond XL';
    src: url('../fonts/SchnyderXCondXLLight.woff2') format('woff2'),
        url('../fonts/SchnyderXCondXLLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Schnyder X Cond XL';
    src: url('../fonts/SchnyderXCondXLBold.woff2') format('woff2'),
        url('../fonts/SchnyderXCondXLBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Schnyder X Cond XL Demi';
    src: url('../fonts/SchnyderXCondXLDemi.woff2') format('woff2'),
        url('../fonts/SchnyderXCondXLDemi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Schnyder X Cond L';
    src: url('../fonts/SchnyderXCondLLight.woff2') format('woff2'),
        url('../fonts/SchnyderXCondLLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Schnyder X Cond L Demi';
    src: url('../fonts/SchnyderXCondLDemi.woff2') format('woff2'),
        url('../fonts/SchnyderXCondLDemi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Schnyder X Cond L';
    src: url('../fonts/SchnyderXCondLBold.woff2') format('woff2'),
        url('../fonts/SchnyderXCondLBold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'TT Travels';
    src: url('../fonts/TTTravels-Light.woff2') format('woff2'),
        url('../fonts/TTTravels-Light.woff') format('woff');
    font-weight: 300;
    font-style: normal;
}

@font-face {
    font-family: 'Schnyder X Cond L Demi';
    src: url('../fonts/SchnyderXCondLDemi.woff2') format('woff2'),
        url('../fonts/SchnyderXCondLDemi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Schnyder X Cond L Demi';
    src: url('../fonts/SchnyderXCondLDemi.woff2') format('woff2'),
        url('../fonts/SchnyderXCondLDemi.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

