*,
::after,
::before {
  box-sizing: border-box;
}

body {
  min-width: 320px;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}
ul {
  margin: 0;
  padding: 0;
}
li {
  list-style: none;
}

a {
  text-decoration: none;
}
.container {
  margin: 0 auto;
  max-width: 1210px;
  padding: 0 20px;
}

section {
  overflow: hidden;
}
.play {
  background: url("../img/play.png") no-repeat center;
}
.pause {
  background: url("../img/pause.png") no-repeat center;
}
.btnPlayPause {
  width: 100px;
  height: 100px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  z-index: 3;
  &::before {
    content: "Смотреть видео";
    position: absolute;
    top: 31px;
    text-align: left;
    left: -35px;
    font-weight: 700;
    font-family: "Roboto", sans-serif;
    font-size: 12px;
    text-transform: uppercase;
    color: #000;
    transform: rotate(-90deg);
    max-width: 70px;
    letter-spacing: 1px;
  }
  &:focus {
    outline: none;
  }
}

