@import "_vars";
@import "global";
@import "libs";

body,
html {
  overflow: visible;
}
.section-one {
  margin-bottom: 203px;
  .header {
    position: relative;
    height: 100vh;
    z-index: 3;
    &__wrapper {
      padding-top: 30px;
      align-items: center;
      display: flex;
      justify-content: space-between;
      .header__menu {
        ul {
          li + li {
            margin-left: 68px;
          }
          li {
            position: relative;
            display: inline-block;
            &:hover {
              &::before {
                opacity: 1;
                transform: translateX(0);
              }
            }
            &::before {
              content: "";
              position: absolute;
              bottom: 0;
              left: -9px;
              background-color: $mainColor;
              width: 20px;
              height: 1px;
              transform: translateX(-100px);
              opacity: 0;
              transition: opacity 0.2s ease-in-out, transform 0.2s ease-in-out;
            }
            a {
              font-family: $roboto;
              font-weight: 700;
              text-transform: uppercase;
              font-size: 14px;
              color: #000;
              letter-spacing: 1px;
            }
          }
        }
      }
    }
  }
  .first-screen {
    position: relative;
    padding-top: 214px;
    &__wrapper {
      h1 {
        position: relative;
        margin-top: 0;
        font-family: $rubik;
        font-size: 80px;
        max-width: 655px;
        margin-bottom: 17px;
        letter-spacing: 5px;
        line-height: 1.2;
        z-index: 3;
      }
      p {
        position: relative;
        z-index: 3;
        font-family: $roboto;
        font-size: 20px;
        font-weight: 700;
        text-transform: uppercase;
        max-width: 350px;
        line-height: 30px;
        letter-spacing: 1.5px;
        margin-bottom: 34px;
      }
      .first-screen__arrow {
        margin-left: 30px;
        animation: customSlideInDown 2s infinite;
      }
    }
  }
  .header__video {
    position: absolute;
    width: 1096px;
    top: 100px;
    right: 0;
    bottom: 0;
    z-index: 2;
    video {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
    .video-controls {
      #btnPlayPause1 {
        position: absolute;
        top: 63px;
        left: -31px;
      }
    }
  }
}
.section-two {
  position: relative;
  margin-bottom: 117px;
  .section-two__video {
    position: absolute;
    width: 745px;
    top: 0;
    left: 0;
    bottom: 0;
    height: 750px;
    video {
      width: 100%;
      height: 100%;
      background-size: cover;
      object-fit: cover;
    }
    .section-two__video-controls {
      #btnPlayPause2 {
        position: absolute;
        top: calc(50% - (44px / 2));
        left: calc(50% - (44px / 2));
        width: 44px;
        height: 44px;
        border: none;
        cursor: pointer;
        transform-style: preserve-3d;
        background-size: contain;
        &::after {
          content: "";
          position: absolute;
          top: -22px;
          left: -22px;
          width: 88px;
          height: 88px;
          border-radius: 50%;
          background-color: #fff;
          transform: translateZ(-1px);
        }
        &:focus {
          outline: none;
        }
      }
    }
  }
  .section-two__content {
    .section-two__content__wrapper {
      display: flex;
      .section-two__content__advangers {
        padding-left: 40.3%;
        padding-top: 95px;
        h4 {
          font-family: $roboto;
          font-size: 20px;
          font-weight: 700;
          color: $mainColor;
          text-transform: uppercase;
          letter-spacing: 1.3px;
        }
        h2 {
          font-family: $rubik;
          font-size: 40px;
          color: #000;
          letter-spacing: 2.8px;
          margin-top: 81px;
        }
        p {
          font-family: $roboto;
          font-size: 18px;
          color: #000;
          font-weight: 300;
          margin-top: 27px;
          max-width: 240px;
          line-height: 1.6;
        }
        ul {
          margin-top: 20px;
          li + li {
            margin-top: 22px;
          }
          li {
            padding-left: 40px;
            font-family: $roboto;
            font-size: 18px;
            color: #000;
            font-weight: 300;
            max-width: 280px;
            line-height: 1.6;
            position: relative;
            &::before {
              content: "";
              position: absolute;
              width: 30px;
              height: 5px;
              background-color: #000;
              left: -2px;
            }
          }
          .section-two__content__advangers_before-top1 {
            &::before {
              top: 14px;
            }
          }
          .section-two__content__advangers_before-top2 {
            &::before {
              top: 13px;
            }
          }
          .section-two__content__advangers_before-top3 {
            &::before {
              top: 11px;
            }
          }
        }
      }
    }
    .section-two__content__color {
      position: relative;
      padding-top: 367px;
      h2 {
        font-family: $rubik;
        font-size: 40px;
        color: #000;
        letter-spacing: 2.8px;
        padding-left: 149px;
      }
      p {
        font-family: $roboto;
        font-size: 18px;
        color: #000;
        font-weight: 300;
        margin-top: 27px;
        max-width: 390px;
        line-height: 1.6;
        padding-left: 149px;
      }
      .section-two__content__color_color-block {
        .section-two__content__select-block {
          .section-two__content__color_select-block__wrapper {
            display: flex;
            margin-top: 56px;
            padding-left: 169px;
            .section-two__content__color_select-block__wrapper_color {
              width: 19px;
              height: 20px;
              border-radius: 50%;
              cursor: pointer;
              &:not(:last-child) {
                margin-right: 34px;
              }
            }
            .color-yellow {
              background-color: #e2e837;
            }
            .color-turquoise {
              background-color: #00b6f1;
            }
            .color-red {
              background-color: #e23232;
            }
            .color-black {
              background-color: #0c0c0c;
              margin-left: 52px;
            }
          }
          .section-two__content__color_select-block____image {
            position: relative;
            width: 326px;
            height: 163px;
            margin-top: 100px;
            margin-left: 49px;
            .section-two__content__color__arrow {
              .section-two__content__color__arrow1 {
                position: absolute;
                top: -281px;
                left: 54px;
                height: 1px;
                width: 15px;
                background-color: #979797;
              }
              .section-two__content__color__arrow2 {
                position: absolute;
                top: -281px;
                left: 54px;
                height: 275px;
                width: 1px;
                background-color: #979797;
              }
              .section-two__content__color__arrow3 {
                border: 2px solid transparent;
                border-top: 3px solid #979797;
                position: absolute;
                top: -6px;
                left: 53px;
              }
            }
          }
          .image-black {
            background: url("../img/segwayBlack.png") no-repeat center / contain;
          }
          .image-yellow {
            background: url("../img/segwayYellow.png") no-repeat center / contain;
          }
          .image-turquoise {
            background: url("../img/segwayTurquoise.png") no-repeat center / contain;
          }
          .image-red {
            background: url("../img/segwayRed.png") no-repeat center / contain;
          }
        }
      }
    }
  }
}
.section-three {
  margin-bottom: 117px;
  position: relative;
  h2 {
    font-family: $rubik;
    font-size: 40px;
    color: #000;
    letter-spacing: 2.8px;
    margin-top: 85px;
  }
  p {
    font-family: $roboto;
    font-size: 18px;
    color: #000;
    font-weight: 300;
    max-width: 370px;
    margin-top: 25px;
    line-height: 1.6;
    b {
      font-weight: 600;
    }
  }
  ul {
    margin-top: 14px;
    li {
      font-family: $roboto;
      font-size: 18px;
      color: #000;
      font-weight: 300;
      max-width: 373px;
      line-height: 2.7;
      position: relative;
      padding-left: 46px;
      &::before {
        content: "";
        position: absolute;
        width: 30px;
        height: 5px;
        background-color: #000;
        left: 5px;
        top: 20px;
      }
    }
  }
  .section-three__spead {
    margin-bottom: 244px;
    margin-top: 137px;
    display: flex;
    padding-left: 6px;
    p {
      position: relative;
      max-width: 100px;
      font-size: 16px;
      margin: 0;
      &::before,
      &::after {
        position: absolute;
        font-family: $rubik;
        font-size: 60px;
        color: $mainColor;
        top: -88px;
      }
    }
    .section-three__spead__max-spead {
      &::before {
        content: "13";
        left: -11px;
      }
      &::after {
        content: "км/ч";
        font-size: 24px;
        top: -48px;
        right: -75px;
      }
    }
    .section-three__spead__spead-mod {
      margin-left: 142px;
      &::before {
        content: "2";
        left: -4px;
      }
    }
  }
  .section-three__video {
    position: absolute;
    width: 1071px;
    top: 0;
    right: 0;
    bottom: 0;
    video {
      width: 100%;
      height: 100%;
      background-size: cover;
      object-fit: cover;
    }
    .section-two__video-controls {
      #btnPlayPause3 {
        position: absolute;
        bottom: 70px;
        left: -40px;
      }
    }
  }
}
.section-four {
  position: relative;
  .section-four__wrapper {
    padding-top: 96px;
    margin-top: 61px;
    padding-bottom: 219px;
    color: #fff;
    background-color: $mainColor;
    h4 {
      font-family: $roboto;
      font-size: 20px;
      font-weight: 700;
      text-transform: uppercase;
      letter-spacing: 1.6px;
    }
    p {
      font-family: $roboto;
      font-size: 18px;
      font-weight: 300;
      max-width: 330px;
      margin-top: 81px;
      line-height: 1.6;
    }
    p + p {
      margin-top: 24px;
      max-width: 315px;
    }
    .section-four__button {
      margin-top: 94px;
      a {
        font-family: $roboto;
        font-size: 16px;
        color: $mainColor;
        font-weight: 700;
        text-transform: uppercase;
        background-color: #fff;
        padding: 16px 55px;
        text-align: center;
        display: inline-block;
        border-radius: 29px;
      }
    }
  }
  .section-four__background-image {
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    background: url("../img/backgroundImage.jpg") no-repeat top / cover;
    height: 752px;
    width: 60%;
  }
  .section-four__footer {
    width: 100%;
    height: 28px;
    text-align: center;
    background-color: #292929;
    display: flex;
    justify-content: center;
    align-items: center;
    p {
      font-family: $roboto;
      font-size: 12px;
      font-weight: 300;
      color: #605f5f;
    }
  }
}
#fp-nav.fp-right {
  right: 86px;
}
#fp-nav {
  ul {
    li {
      margin: 6px;
      width: 17px;
      height: 17px;
      a.active {
        span {
          width: 17px;
          height: 17px;
          background-color: transparent;
          border: 1px solid $mainColor;
        }
      }
      a {
        span {
          width: 7px;
          height: 7px;
          background-color: $mainColor;
          border-radius: 50%;
        }
      }
    }
  }
  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 1px;
    height: 320px;
    background-color: $mainColor;
    left: 17px;
  }
  &::before {
    top: 110px;
  }
  &::after {
    bottom: 110px;
  }
}
@keyframes customSlideInDown {
  0% {
    transform: translateY(-20px);
  }
  50% {
    transform: translateY(15px);
  }
  100% {
    transform: translateY(-20px);
  }
}
@import "_media";
