body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #f6f6f6;
  font-family: "Open Sans", sans-serif;
  min-width: 320px;
}

a {
  text-decoration: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

.container {
  max-width: 980px;
  margin: 0 auto;
  padding: 0 10px;
}

.menu-mobile {
  position: fixed;
  padding-top: 15px;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: 10;
  -webkit-transform: translateY(-110%);
          transform: translateY(-110%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.menu-mobile .menu-mobile-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-mobile .menu-mobile-header .icon-close {
  background: url(../Icons/Close.svg) no-repeat center/contain;
  width: 14px;
  height: 14px;
}

.menu-mobile .menu-mobile-header .user-icon {
  background: url(../Icons/User.svg) no-repeat center/contain;
  width: 20px;
  height: 20px;
}

.menu-mobile .menu-mobile-body {
  margin-top: 123px;
  margin-bottom: 105px;
}

.menu-mobile .menu-mobile-body nav ul li + li {
  margin-top: 16px;
}

.menu-mobile .menu-mobile-body nav ul li a {
  display: block;
  text-align: center;
  font-size: 22px;
  color: #1A1A1A;
  font-weight: 600;
  letter-spacing: -0.28px;
  padding: 5px;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  -webkit-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
}

.menu-mobile .menu-mobile-body nav ul li a:hover {
  border-color: #4D4D4D;
}

.menu-mobile .menu-mobile-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-mobile .menu-mobile-bottom .need-help {
  font-size: 14px;
  color: #123A60;
  letter-spacing: -0.35px;
  text-align: center;
  font-weight: bold;
}

.menu-mobile .menu-mobile-bottom .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 20px 0;
}

.menu-mobile .menu-mobile-bottom .social-icons .icon:not(:last-child) {
  margin-right: 30px;
}

.menu-show {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.logo {
  background: url(../Icons/Logo_S.svg) no-repeat center/contain;
  width: 90px;
  height: 19.2px;
}

.copyright {
  font-size: 12px;
  color: #B0B5B5;
  letter-spacing: 0;
  text-align: center;
  font-weight: bold;
  margin-top: 16px;
  margin-bottom: 9px;
}

header .header-top {
  display: none;
  background: #10395F -webkit-gradient(linear, left top, left bottom, from(#193F63), to(#10395F));
  background: #10395F linear-gradient(-180deg, #193F63 0%, #10395F 100%);
  color: #fff;
}

header .header-top .header-wrap-top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 44px;
}

header .header-top .header-wrap-top .folow-us {
  position: relative;
  margin-right: 20px;
}

header .header-top .header-wrap-top .folow-us::before {
  content: "";
  display: block;
  position: absolute;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: -20px;
  width: 1px;
  height: 20px;
  background: #fff;
  opacity: 0.2;
  border-radius: 1px;
}

header .header-top .header-wrap-top .folow-us span {
  font-size: 14px;
  letter-spacing: -0.35px;
  margin-right: 14px;
}

header .header-top .header-wrap-top .folow-us .icon g {
  -webkit-transition: fill 200ms ease-in-out;
  transition: fill 200ms ease-in-out;
}

header .header-top .header-wrap-top .folow-us .icon:hover g {
  fill: #01BC7E;
}

header .header-top .header-wrap-top .folow-us .icon:not(:last-child) {
  margin-right: 14px;
}

header .header-top .header-wrap-top a {
  font-weight: bold;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: -0.35px;
}

header .header-top .header-wrap-top .help {
  position: relative;
  margin: 0 20px;
}

header .header-top .header-wrap-top .help::before {
  content: "";
  display: block;
  position: absolute;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: -20px;
  width: 1px;
  height: 20px;
  background: #fff;
  opacity: 0.2;
  border-radius: 1px;
}

header .header-top .header-wrap-top .hello-user {
  position: relative;
  margin-left: 24px;
  padding-right: 15px;
}

header .header-top .header-wrap-top .hello-user:before {
  content: "";
  display: block;
  position: absolute;
  border: 4px solid transparent;
  border-top: 4px solid #fff;
  right: 0;
  top: 7px;
}

header .header-main {
  background: #fff;
  -webkit-box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.06), 0 0 12px 0 rgba(0, 0, 0, 0.05);
          box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.06), 0 0 12px 0 rgba(0, 0, 0, 0.05);
}

header .header-main .header-wrap-main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 47px;
}

header .header-main .header-wrap-main .burger-menu-icon {
  cursor: pointer;
  background: url(../Icons/Menu.svg) no-repeat center/contain;
  width: 16px;
  height: 15px;
}

header .header-main .header-wrap-main .wrap-logo-menu, header .header-main .header-wrap-main .wrap-dropbox-logout {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-main .header-wrap-main nav {
  display: none;
  margin-left: 30px;
}

header .header-main .header-wrap-main nav ul li {
  display: inline-block;
}

header .header-main .header-wrap-main nav ul li + li {
  margin-left: 20px;
}

header .header-main .header-wrap-main nav ul li a {
  font-weight: 600;
  font-size: 16px;
  color: #1A1A1A;
  letter-spacing: -0.2px;
  padding: 3px;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

header .header-main .header-wrap-main nav ul li a:hover {
  color: #01BC7E;
}

header .header-main .header-wrap-main .dropbox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

header .header-main .header-wrap-main .dropbox .icon {
  background: url(../Icons/Icon.svg) no-repeat center/contain;
  width: 24px;
  height: 21px;
}

header .header-main .header-wrap-main .dropbox .text {
  display: none;
  position: relative;
  margin-left: 6px;
  font-weight: bold;
  font-size: 14px;
  color: #1A1A1A;
  letter-spacing: -0.2px;
  padding-right: 12px;
}

header .header-main .header-wrap-main .dropbox .text::before {
  content: "";
  display: block;
  position: absolute;
  border: 4px solid transparent;
  border-top: 4px solid #38526A;
  right: 0;
  top: 7px;
}

header .header-main .header-wrap-main .logout {
  display: none;
  position: relative;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 101px;
  height: 34px;
  background: #01BC7E;
  border-radius: 2px;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-size: 14px;
  color: #FFF;
  letter-spacing: -0.2px;
  margin-left: 30px;
  padding-right: 17px;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

header .header-main .header-wrap-main .logout::before {
  content: "";
  display: block;
  position: absolute;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  background: url(../Icons/lg.svg) no-repeat center/contain;
  width: 14px;
  height: 10px;
  right: 10px;
}

header .header-main .header-wrap-main .logout:hover {
  background: rgba(1, 188, 126, 0.8);
}

header .header-main .header-wrap-main .logout:active {
  -webkit-box-shadow: inset 0 0 7px 0px #2da07a;
          box-shadow: inset 0 0 7px 0px #2da07a;
}

main .main-wrap {
  padding-top: 13px;
}

main .main-wrap .media-wrap .img {
  margin: 0 auto;
  background: url(../Image/photo.png) no-repeat center;
  max-width: 480px;
  height: 209px;
  background-size: 108% auto;
  -webkit-box-shadow: 0 22px 40px -30px rgba(5, 24, 17, 0.98);
          box-shadow: 0 22px 40px -30px rgba(5, 24, 17, 0.98);
  border-radius: 5px;
}

main .main-wrap .media-wrap .title {
  margin-top: 15px;
  margin-bottom: 12px;
  font-size: 26px;
  color: #38526A;
  letter-spacing: -0.87px;
  line-height: 49px;
  text-align: center;
  font-weight: bold;
}

main .main-wrap .text {
  padding: 0 10px;
  font-size: 14px;
  color: #4D4D4D;
  letter-spacing: 0;
  line-height: 20px;
  max-width: 480px;
  margin: 0 auto;
}

main .main-wrap .second-block-text {
  margin-top: 16px;
}
/*# sourceMappingURL=style.css.map */