body {
  position: relative;
  z-index: 0;
  font-family: "Roboto", sans-serif;
}

div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

li {
  list-style: none;
}

button {
  cursor: pointer;
  border: none;
}

button:focus {
  outline: none;
}

a {
  text-decoration: none;
}

.container {
  max-width: 1400px;
  padding: 0 20px;
  margin: 0 auto;
}

.logo a {
  font-family: "Roboto", sans-serif;
  letter-spacing: 20px;
  font-size: 48px;
  font-weight: 600;
  font-style: italic;
  color: #ff6c00;
  text-transform: uppercase;
}

.block {
  -webkit-transform: translateY(-1000px);
          transform: translateY(-1000px);
}

[class*=modal] {
  position: absolute;
  top: 0;
  width: 100%;
  height: 1754px;
  bottom: 0;
  font-family: "Roboto", sans-serif;
  background: rgba(0, 0, 0, 0.8);
  z-index: 9999;
}

.modal-enter .block .title, .modal-callback .block .title {
  font-size: 24px;
  font-family: "Roboto";
  color: #3b3b3b;
  font-weight: bold;
}

.modal-enter .block .left-content form input[type=email],
.modal-enter .block .left-content form input[type=password], .modal-callback .block form input {
  width: 297px;
  height: 38px;
  background-color: white;
  border: 1px solid #d2d2d2;
  margin-top: 15px;
  margin-bottom: 20px;
  padding-left: 15px;
  font-size: 14px;
  color: #2b2b2b;
}

.icon-close {
  width: 35px;
  height: 35px;
  cursor: pointer;
  position: absolute;
  top: -50px;
  right: -50px;
}

.icon-close span {
  position: absolute;
  display: inline-block;
  top: 50%;
  left: 15%;
  width: 26px;
  height: 1px;
  background: #ffffff;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.icon-close span:last-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.modal-enter .block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 755px;
  height: 431px;
  top: 150px;
  left: calc(50% - (755px / 2));
  position: fixed;
  background-color: white;
  padding: 25px 25px;
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  transition: -webkit-transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out;
  transition: transform 0.5s ease-in-out, -webkit-transform 0.5s ease-in-out;
}

.modal-enter .block .left-content {
  width: 50%;
  border-right: 1px solid #dbdbdb;
}

.modal-enter .block .left-content .title {
  margin-bottom: 27px;
}

.modal-enter .block .left-content form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.modal-enter .block .left-content form input::-webkit-input-placeholder {
  color: #9c9c9c;
}

.modal-enter .block .left-content form input:-ms-input-placeholder {
  color: #9c9c9c;
}

.modal-enter .block .left-content form input::-ms-input-placeholder {
  color: #9c9c9c;
}

.modal-enter .block .left-content form input::placeholder {
  color: #9c9c9c;
}

.modal-enter .block .left-content form input[type=email]:focus,
.modal-enter .block .left-content form input[type=password]:focus {
  outline: none;
}

.modal-enter .block .left-content form input[type=checkbox] {
  display: none;
}

.modal-enter .block .left-content form .remb {
  margin-bottom: 25px;
}

.modal-enter .block .left-content form .remb label {
  position: relative;
  margin-left: 25px;
}

.modal-enter .block .left-content form .remb label::before {
  cursor: pointer;
  content: '';
  position: absolute;
  width: 15px;
  height: 15px;
  left: -25px;
  border: 1px solid #d2d2d2;
}

.modal-enter .block .left-content form input[type=checkbox]:checked + label:before {
  content: "\2713";
  color: #383838;
  font-weight: bold;
  text-align: center;
  line-height: 15px;
}

.modal-enter .block .left-content form label {
  font-size: 14px;
  color: #3b3b3b;
}

.modal-enter .block .left-content form .link-wrap {
  margin-bottom: 29px;
}

.modal-enter .block .left-content form .link-wrap a {
  font-size: 14px;
  font-family: "Roboto";
  color: #3d3d3d;
  text-decoration: underline;
}

.modal-enter .block .left-content form .link-wrap a + a {
  margin-left: 20px;
}

.modal-enter .block .left-content form .link-wrap a:hover {
  text-decoration: none;
}

.modal-enter .block .left-content form button {
  width: 210px;
  height: 50px;
  background: #afb9c6;
  font-size: 14px;
  font-family: "Roboto";
  color: white;
}

.modal-enter .block .left-content form button:hover {
  background: #656972;
}

.modal-enter .block .left-content form button:active {
  -webkit-box-shadow: inset 0px 0px 6px 0px #424242;
          box-shadow: inset 0px 0px 6px 0px #424242;
}

.modal-enter .block .right-content {
  padding-left: 38px;
}

.modal-enter .block .right-content .title {
  margin-bottom: 50px;
}

.modal-enter .block .right-content .icon {
  margin-right: 13px;
}

.modal-enter .block .right-content .icon svg {
  width: 18px;
  height: 18px;
  fill: #fff;
}

.modal-enter .block .right-content .icon svg path {
  fill: #fff;
}

.modal-enter .block .right-content a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 293px;
  height: 50px;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.modal-enter .block .right-content a:active {
  -webkit-box-shadow: inset 0px 0px 6px 0px #424242;
          box-shadow: inset 0px 0px 6px 0px #424242;
}

.modal-enter .block .right-content a + a {
  margin-top: 23px;
}

.modal-enter .block .right-content a .text {
  font-size: 14px;
  color: white;
}

.modal-enter .block .right-content .fb {
  background: #3b5998;
}

.modal-enter .block .right-content .fb:hover {
  background: #30487c;
}

.modal-enter .block .right-content .twt {
  background: #41abe1;
}

.modal-enter .block .right-content .twt:hover {
  background: #3b9aca;
}

.modal-enter .block .right-content .gp {
  background: #ea4335;
}

.modal-enter .block .right-content .gp:hover {
  background: #d63e30;
}

.modal-callback .block {
  position: fixed;
  width: 378px;
  height: 283px;
  padding: 35px;
  background-color: white;
  top: 150px;
  left: calc(50% - (378px / 2));
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.modal-callback .block .title {
  margin-bottom: 34px;
}

.modal-callback .block form label {
  font-size: 14px;
  color: #3b3b3b;
}

.modal-callback .block form input::-webkit-input-placeholder {
  color: #9c9c9c;
}

.modal-callback .block form input:-ms-input-placeholder {
  color: #9c9c9c;
}

.modal-callback .block form input::-ms-input-placeholder {
  color: #9c9c9c;
}

.modal-callback .block form input::placeholder {
  color: #9c9c9c;
}

.modal-callback .block form input {
  width: 291px;
}

.modal-callback .block form input:focus {
  outline: none;
}

.modal-callback .block form .but-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.modal-callback .block form button {
  width: 210px;
  height: 50px;
  background: #ff8900;
  font-size: 14px;
  font-family: "Roboto";
  color: white;
}

.modal-callback .block form button:hover {
  background: #b86200;
}

.modal-callback .block form button:active {
  -webkit-box-shadow: inset 0px 0px 6px 0px #424242;
          box-shadow: inset 0px 0px 6px 0px #424242;
}

header .top-menu {
  background: #696969;
}

header .top-menu .top-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .top-menu .top-wrap .menu li {
  display: inline-block;
}

header .top-menu .top-wrap .menu li + li {
  margin-left: 27px;
}

header .top-menu .top-wrap .menu li:first-child a {
  padding-left: 0;
}

header .top-menu .top-wrap .menu li a {
  position: relative;
  text-transform: uppercase;
  font-size: 12px;
  font-family: "Roboto";
  color: #c2c2c2;
  padding: 10px;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

header .top-menu .top-wrap .menu li a:hover {
  color: #fff;
}

header .top-menu .top-wrap .menu li a:hover:before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

header .top-menu .top-wrap .menu li a::before {
  content: '';
  position: absolute;
  bottom: -7px;
  left: calc(50% - (120% / 2));
  width: 120%;
  height: 2px;
  background: #ffc925;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
  -webkit-transform: scale(0);
          transform: scale(0);
}

header .top-menu .top-wrap .enter {
  position: relative;
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 136px;
  height: 50px;
  padding: 0 0 0 12px;
  background: #ff6c00;
  font-size: 12px;
  font-family: "Myriad Pro";
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

header .top-menu .top-wrap .enter:hover {
  background: #b86200;
}

header .top-menu .top-wrap .enter:active {
  -webkit-box-shadow: inset 0px 0px 6px 0px #424242;
          box-shadow: inset 0px 0px 6px 0px #424242;
}

header .top-menu .top-wrap .enter::before {
  content: '';
  position: absolute;
  top: calc(50% - (15px / 2));
  left: 36px;
  width: 16px;
  height: 15px;
  background: url(../Svg/1.svg) no-repeat center/contain;
}

header .logo-data {
  margin-top: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

header .logo-data .call-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f5f5f5;
  padding-left: 12px;
  height: 49px;
  margin-left: 102px;
}

header .logo-data .call-info .number {
  font-size: 16px;
  font-family: "Roboto";
  color: #000;
  font-weight: bold;
  font-style: italic;
}

header .logo-data .call-info .number:first-child {
  margin-right: 40px;
}

header .logo-data .call-info .number:nth-child(2) {
  margin-right: 44px;
}

header .logo-data .call-info .call-back {
  position: relative;
  width: 196px;
  height: 100%;
  padding: 0 0 0 12px;
  background: #ff6c00;
  font-size: 12px;
  font-family: "Myriad Pro";
  color: white;
  text-transform: uppercase;
  text-decoration: none;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

header .logo-data .call-info .call-back:hover {
  background: #b86200;
}

header .logo-data .call-info .call-back:active {
  -webkit-box-shadow: inset 0px 0px 6px 0px #424242;
          box-shadow: inset 0px 0px 6px 0px #424242;
}

header .logo-data .call-info .call-back::before {
  content: '';
  position: absolute;
  top: calc(50% - (17px / 2));
  left: 32px;
  width: 12px;
  height: 17px;
  background: url(../Svg/2.svg) no-repeat center/contain;
}

header .logo-data .icon-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

header .logo-data .icon-wrap .item {
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-right: 28px;
}

header .logo-data .icon-wrap .item:not(:last-child) {
  border-right: 2px solid #e4e4e4;
  margin-right: 40px;
}

header .logo-data .icon-wrap .item .icon-one {
  background: url(../Svg/3.svg) no-repeat center/contain;
  width: 45px;
  height: 34px;
}

header .logo-data .icon-wrap .item .icon-two {
  background: url(../Svg/4.svg) no-repeat center/contain;
  width: 34px;
  height: 34px;
}

header .logo-data .icon-wrap .item .icon-thr {
  background: url(../Svg/5.svg) no-repeat center/contain;
  width: 37px;
  height: 34px;
}

header .logo-data .icon-wrap .item .counter {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  top: -22px;
  left: 16px;
  width: 20px;
  height: 14px;
  background: #ff8500;
  font-size: 11px;
  color: #fff;
  -webkit-box-shadow: 0px 5px 8px 0px rgba(247, 129, 0, 0.7);
          box-shadow: 0px 5px 8px 0px rgba(247, 129, 0, 0.7);
}

header .logo-data .icon-wrap .item .counter::before {
  position: absolute;
  left: 4px;
  bottom: -12px;
  content: '';
  border: 6px solid transparent;
  border-top: 6px solid #ff8500;
}

header .logo-data .icon-wrap .item span {
  margin-top: 10px;
  font-size: 10px;
  color: #3d3d3d;
  text-transform: uppercase;
}

.menu-search {
  margin-top: 38px;
}

.menu-search .wrap-menu {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.menu-search .wrap-menu .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: pointer;
  position: relative;
  padding-left: 85px;
  width: 326px;
  height: 56px;
  background-color: #e77700;
  background: -webkit-gradient(linear, left top, right top, from(rgba(255, 133, 0, 0.9)), to(rgba(255, 174, 0, 0.9)));
  background: linear-gradient(to right, rgba(255, 133, 0, 0.9) 0%, rgba(255, 174, 0, 0.9) 100%);
  font-size: 20px;
  color: white;
  font-weight: bold;
  margin-right: 20px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.menu-search .wrap-menu .menu:hover {
  background-color: black;
}

.menu-search .wrap-menu .menu::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 62px;
  height: 100%;
  background: #db7200;
}

.menu-search .wrap-menu .menu::after {
  position: absolute;
  content: '';
  top: calc(50% - (10px / 2));
  left: 25px;
  width: 14px;
  height: 10px;
  background: url(../Svg/6.svg) no-repeat center/contain;
}

.menu-search .wrap-menu .podmenu {
  position: absolute;
  top: 56px;
  left: 0;
}

.menu-search .wrap-menu .podmenu ul {
  width: 325px;
  margin: 0;
  padding: 0;
  border: 1px solid #f8f8f8;
  border-top: none;
}

.menu-search .wrap-menu .podmenu ul li {
  position: relative;
}

.menu-search .wrap-menu .podmenu ul li + li {
  border-top: 1px solid #f1f1f1;
}

.menu-search .wrap-menu .podmenu ul li::after {
  content: '';
  position: absolute;
  top: calc(50% - (15px / 2));
  right: 34px;
  width: 15px;
  height: 15px;
  background: url(../Svg/7.svg) no-repeat center/contain;
}

.menu-search .wrap-menu .podmenu ul li a {
  display: inline-block;
  width: calc(100% - 40px);
  padding: 18.7px 0 18.7px 40px;
  font-size: 16px;
  color: #3b3b3b;
  font-weight: bold;
  text-transform: uppercase;
}

.menu-search .wrap-menu .search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
}

.menu-search .wrap-menu .search form input {
  border: none;
  height: 100%;
  width: 634px;
  padding-left: 28px;
  background: #f5f5f5;
  font-size: 14px;
  color: #929292;
}

.menu-search .wrap-menu .search form input:focus {
  outline: none;
}

.menu-search .wrap-menu .search form input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

.menu-search .wrap-menu .search form .category {
  position: relative;
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 149px;
  height: 100%;
  background: #f5f5f5;
  font-size: 14px;
  color: #616161;
}

.menu-search .wrap-menu .search form .category::before {
  position: absolute;
  content: '';
  top: calc(50% - (37px / 2));
  left: 0;
  width: 1px;
  height: 37px;
  background: #dadada;
}

.menu-search .wrap-menu .search form .category::after {
  position: absolute;
  content: '';
  top: calc(50% - 4px);
  right: 12px;
  border: 4px solid transparent;
  border-top: 4px solid #8c8c8c;
}

.menu-search .wrap-menu .search form .category .select-category {
  display: none;
  position: absolute;
  bottom: -140px;
  width: 100%;
}

.menu-search .wrap-menu .search form .category .select-category ul {
  margin: 0;
  padding: 0 10px;
  background: #f5f5f5;
}

.menu-search .wrap-menu .search form .category .select-category ul li {
  padding: 15px;
}

.menu-search .wrap-menu .search form .category .select-category ul li + li {
  border-top: 1px solid #dddddd;
}

.menu-search .wrap-menu .search form .button-search {
  text-transform: uppercase;
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  background: #ff8900;
  width: 166px;
  height: 56px;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

.menu-search .wrap-menu .search form .button-search:hover {
  background: #b86200;
}

.menu-search .wrap-menu .search form .button-search:active {
  -webkit-box-shadow: inset 0px 0px 6px 0px #424242;
          box-shadow: inset 0px 0px 6px 0px #424242;
}

.menu-search .form {
  width: 949px;
  margin-top: 20px;
  margin-left: 346px;
  height: 374px;
  background-color: dimgray;
}

.menu-search .form .top-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #606a76;
  height: 74px;
  padding-left: 45px;
}

.menu-search .form .top-nav .item {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-search .form .top-nav .item + .item {
  margin-left: 50px;
}

.menu-search .form .top-nav .item .icon .st0 {
  fill: #5B5A5A;
}

.menu-search .form .top-nav .item span {
  margin-left: 14px;
  font-size: 18px;
  color: #a0a6ad;
  font-weight: bold;
}

.menu-search .form .top-nav .active {
  position: relative;
}

.menu-search .form .top-nav .active::before {
  content: '';
  position: absolute;
  bottom: -25px;
  left: -10px;
  right: 0;
  width: 120%;
  height: 2px;
  background: #ffc925;
}

.menu-search .form .top-nav .active .icon .st0 {
  fill: #ffc925;
}

.menu-search .form .top-nav .active span {
  color: #fff;
}

.menu-search .form .p-wrap {
  padding: 24px 32px;
}

.menu-search .form .p-wrap .tabs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #fff;
  padding: 5px 5px;
  width: 284px;
  height: 44px;
}

.menu-search .form .p-wrap .tabs button {
  width: 50%;
  height: 100%;
  background: transparent;
  font-size: 14px;
  color: dimgray;
}

.menu-search .form .p-wrap .tabs .active {
  background: #ff8900;
  color: #fff;
}

.menu-search .form .p-wrap .select-wrap {
  padding-top: 24px;
}

.menu-search .form .p-wrap .select-wrap .top_item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.menu-search .form .p-wrap .select-wrap .bottom-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 18px;
}

.menu-search .form .p-wrap .select-wrap .bottom-item .price {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.menu-search .form .p-wrap .select-wrap .bottom-item .price [class^=under] {
  position: absolute;
  width: 74px;
  height: 1px;
  background: #fff;
  bottom: -2px;
}

.menu-search .form .p-wrap .select-wrap .bottom-item .price #price1:focus ~ .under-1 {
  background: #ff8500;
}

.menu-search .form .p-wrap .select-wrap .bottom-item .price #price2:focus ~ .under-2 {
  background: #ff8500;
}

.menu-search .form .p-wrap .select-wrap .bottom-item .price #price3:focus ~ .under-1 {
  background: #ff8500;
}

.menu-search .form .p-wrap .select-wrap .bottom-item .price #price4:focus ~ .under-2 {
  background: #ff8500;
}

.menu-search .form .p-wrap .select-wrap .bottom-item .price .under-1 {
  left: 39px;
}

.menu-search .form .p-wrap .select-wrap .bottom-item .price .under-2 {
  right: 0px;
}

.menu-search .form .p-wrap .select-wrap .bottom-item .price input::-webkit-input-placeholder {
  color: #b0b0b0;
}

.menu-search .form .p-wrap .select-wrap .bottom-item .price input:-ms-input-placeholder {
  color: #b0b0b0;
}

.menu-search .form .p-wrap .select-wrap .bottom-item .price input::-ms-input-placeholder {
  color: #b0b0b0;
}

.menu-search .form .p-wrap .select-wrap .bottom-item .price input::placeholder {
  color: #b0b0b0;
}

.menu-search .form .p-wrap .select-wrap .bottom-item .price label {
  font-size: 14px;
  font-family: 'Proxima Nova Cn Rg';
  color: white;
  margin-right: 11px;
}

.menu-search .form .p-wrap .select-wrap .bottom-item .price input {
  text-align: center;
  border: none;
  padding: 0;
  width: 74px;
  height: 42px;
}

.menu-search .form .p-wrap .select-wrap .bottom-item .price input:focus {
  outline: none;
}

.menu-search .form .p-wrap .select-wrap .bottom-item .price #price2,
.menu-search .form .p-wrap .select-wrap .bottom-item .price #price4 {
  margin-left: 17px;
}

.menu-search .form .p-wrap .select-wrap .item {
  position: relative;
}

.menu-search .form .p-wrap .select-wrap .item::before {
  content: '';
  position: absolute;
  bottom: -2px;
  left: 0;
  right: 0;
  width: 100%;
  height: 1px;
  background: #fff;
}

.menu-search .form .p-wrap .select-wrap .item select {
  font-size: 14px;
  color: #9c9c9c;
  width: 210px;
  height: 42px;
  padding: 0 15px;
  border: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  appearance: none;
}

.menu-search .form .p-wrap .select-wrap .item select:focus {
  outline: none;
}

.menu-search .form .p-wrap .select-wrap .item .icon {
  position: absolute;
  top: 18px;
  right: 25px;
}

.menu-search .form .p-wrap .select-wrap .item .icon::before {
  position: absolute;
  content: '';
  border: 4px solid transparent;
  border-top: 4px solid #ff8500;
}

.menu-search .form .p-wrap .tw {
  display: none;
}

.menu-search .form .p-wrap .tw .bottom-item {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.menu-search .form .p-wrap .tw .bottom-item .price label {
  margin: 0 11px;
}

.menu-search .form .p-wrap .tw .bottom-item .price .under-1 {
  left: 50px;
}

.menu-search .form .p-wrap .clear-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 23px;
}

.menu-search .form .p-wrap .clear-submit .clear {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  width: 210px;
  height: 50px;
  background: #ff4800;
}

.menu-search .form .p-wrap .clear-submit .clear .icon {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.menu-search .form .p-wrap .clear-submit .clear .icon span {
  position: absolute;
  display: inline-block;
  width: 13px;
  height: 1px;
  background: #fff;
  left: -21px;
  top: -2px;
}

.menu-search .form .p-wrap .clear-submit .clear .icon span:first-child {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.menu-search .form .p-wrap .clear-submit .clear .icon span:last-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.menu-search .form .p-wrap .clear-submit button {
  font-size: 14px;
  font-family: "Roboto", sans-serif;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  width: 210px;
  height: 50px;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff8500), to(#ffae00));
  background-image: linear-gradient(to right, #ff8500 0%, #ffae00 100%);
}

.main {
  font-family: "Roboto", sans-serif;
  padding-top: 46px;
}

.main .title-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
}

.main .title-wrap .title {
  position: relative;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 36px;
  font-family: 'Myriad Pro', sans-serif;
  color: #3b3b3b;
}

.main .title-wrap .title::before {
  content: '';
  position: absolute;
  bottom: -11px;
  left: 0;
  width: 105%;
  height: 1px;
  background: #ff8500;
}

.main .title-wrap .catalog {
  position: relative;
  font-size: 14px;
  margin-right: 24px;
  color: black;
  text-decoration: underline;
}

.main .title-wrap .catalog:hover {
  text-decoration: none;
}

.main .title-wrap .catalog::after {
  content: '';
  position: absolute;
  right: -24px;
  top: calc(50% - (3px / 2));
  background: url(../Svg/arr.svg) no-repeat center/contain;
  width: 16px;
  height: 3px;
}

.main .product-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-top: 1px solid #dbdbdb;
  border-bottom: 1px solid #dbdbdb;
  -webkit-transition: -webkit-transform 1.5s ease-in-out;
  transition: -webkit-transform 1.5s ease-in-out;
  transition: transform 1.5s ease-in-out;
  transition: transform 1.5s ease-in-out, -webkit-transform 1.5s ease-in-out;
}

.main .product-wrap .card-product {
  position: relative;
  width: 335px;
  border-right: 1px solid #dbdbdb;
  padding: 20px 10px;
}

.main .product-wrap .card-product .mark {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 79px;
  height: 22px;
  background-color: #f2f2f2;
  font-size: 14px;
  color: #848484;
  margin-bottom: 24px;
}

.main .product-wrap .card-product .name-card {
  margin-bottom: 17px;
  min-height: 50px;
}

.main .product-wrap .card-product .name-card:hover a {
  text-decoration: none;
}

.main .product-wrap .card-product .name-card a {
  font-size: 17px;
  color: #3b3b3b;
  text-decoration: underline;
  line-height: 1.529;
}

.main .product-wrap .card-product .reviews-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .product-wrap .card-product .reviews-wrap .icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 10px;
}

.main .product-wrap .card-product .reviews-wrap .icons .icon svg {
  width: 15px;
  height: 14px;
  fill: #ff8600;
}

.main .product-wrap .card-product .reviews-wrap .icons .icon + .icon {
  margin-left: 5px;
}

.main .product-wrap .card-product .reviews-wrap .review {
  margin-right: 20px;
  font-size: 13px;
  color: #9b9b9b;
  text-decoration: underline;
}

.main .product-wrap .card-product .reviews-wrap .number {
  font-size: 12px;
  color: #757575;
}

.main .product-wrap .card-product .img-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .product-wrap .card-product .img-wrap .icon-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .product-wrap .card-product .img-wrap .icon-wrap .icon {
  margin-top: 3px;
  width: 40px;
  height: 40px;
}

.main .product-wrap .card-product .img-wrap .icon-wrap:first-child .icon {
  background: url(../Svg/Sun.svg) no-repeat center/contain;
  margin-top: 20px;
}

.main .product-wrap .card-product .img-wrap .icon-wrap:nth-child(2) .icon {
  background: url(../Svg/car.svg) no-repeat center/contain;
}

.main .product-wrap .card-product .img-wrap .icon-wrap:nth-child(3) .icon {
  background: url(../Svg/new.svg) no-repeat center/contain;
}

.main .product-wrap .card-product .img-wrap .icon-wrap span {
  margin-top: 10px;
  font-size: 10px;
  color: #91959a;
  text-transform: uppercase;
}

.main .product-wrap .card-product .img-wrap .img-card {
  margin-left: 25px;
  width: 166px;
  height: 233px;
}

.main .product-wrap .card-product .stickers {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: absolute;
  left: 45px;
  top: 384px;
  min-width: 250px;
}

.main .product-wrap .card-product .stickers .sticker {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 10px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  width: 74px;
  height: 26px;
}

.main .product-wrap .card-product .stickers .sticker:first-child {
  background: #2eb68e;
  -webkit-box-shadow: 0 5px 12px -1px rgba(46, 182, 142, 0.5);
          box-shadow: 0 5px 12px -1px rgba(46, 182, 142, 0.5);
}

.main .product-wrap .card-product .stickers .sticker:nth-child(2) {
  background: #a25fd1;
  -webkit-box-shadow: 0 5px 12px -1px rgba(162, 95, 209, 0.5);
          box-shadow: 0 5px 12px -1px rgba(162, 95, 209, 0.5);
}

.main .product-wrap .card-product .stickers .sticker:last-child {
  background: #e33c53;
  -webkit-box-shadow: 0 5px 12px -1px rgba(227, 60, 83, 0.5);
          box-shadow: 0 5px 12px -1px rgba(227, 60, 83, 0.5);
}

.main .product-wrap .card-product .stickers .sticker + .sticker {
  margin-left: 10px;
}

.main .product-wrap .card-product .stickers .sticker::before {
  position: absolute;
  content: '';
  top: calc(50% - (8px / 2));
  left: -4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fff;
}

.main .product-wrap .card-product .stickers .sticker::after {
  position: absolute;
  content: '';
  top: calc(50% - (8px / 2));
  right: -4px;
  width: 8px;
  height: 8px;
  border-radius: 50%;
  background: #fff;
}

.main .product-wrap .card-product .price {
  margin-top: 35px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .product-wrap .card-product .price .current {
  font-size: 30px;
  color: #3b3b3b;
  font-weight: 900;
  font-style: italic;
}

.main .product-wrap .card-product .price .old {
  position: relative;
  font-size: 16px;
  color: #989898;
  font-style: italic;
  font-weight: 900;
}

.main .product-wrap .card-product .price .old::before {
  position: absolute;
  content: '';
  top: 50%;
  left: -3%;
  width: 105%;
  height: 1px;
  background: red;
}

.main .product-wrap .card-product .buy {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 25px;
}

.main .product-wrap .card-product .buy .but {
  position: relative;
  display: inline-block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 210px;
  height: 50px;
  font-size: 14px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  background-image: -webkit-gradient(linear, left top, right top, from(#ff8500), to(#ffae00));
  background-image: linear-gradient(to right, #ff8500 0%, #ffae00 100%);
}

.main .product-wrap .card-product .buy .but:hover {
  background-image: linear-gradient(130deg, #ff8500 80%, #ffae00 100%);
}

.main .product-wrap .card-product .buy .but:active {
  -webkit-box-shadow: inset 0px 0px 6px 0px #424242;
          box-shadow: inset 0px 0px 6px 0px #424242;
}

.main .product-wrap .card-product .buy .but .icon {
  display: inline-block;
  width: 30px;
  height: 28px;
  margin-right: 15px;
}

.main .product-wrap .card-product .buy .but .icon svg {
  fill: #fff;
}

.main .product-wrap .card-product .buy .but .icon svg .st0 {
  fill: #fff;
  stroke: #fff;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.main .product-wrap .card-product .buy .but .icon svg .st1 {
  fill: none;
  stroke: #fff;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.main .product-wrap .card-product .buy .but .icon svg .st2 {
  fill: none;
  stroke: #fff;
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.main .product-wrap .card-product .compare-favorites {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 15px;
}

.main .product-wrap .card-product .compare-favorites button {
  background: none;
  font-size: 14px;
  color: #3b3b3b;
  text-decoration: underline;
}

.main .product-wrap .card-product .compare-favorites button:hover {
  text-decoration: none;
}

.main .product-wrap .card-product .compare-favorites .icon {
  margin-right: 5px;
}

.main .product-wrap .card-product .compare-favorites .compare {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .product-wrap .card-product .compare-favorites .compare .icon {
  width: 35px;
  height: 26px;
}

.main .product-wrap .card-product .compare-favorites .compare .icon svg .st0 {
  fill: none;
  stroke: #ff8600;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-miterlimit: 10;
}

.main .product-wrap .card-product .compare-favorites .compare .icon svg .st1 {
  fill: none;
  stroke: #ff8600;
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.main .product-wrap .card-product .compare-favorites .compare .icon svg .st2 {
  fill: none;
  stroke: #FF8500;
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.main .product-wrap .card-product .compare-favorites .compare .icon svg .st3 {
  fill: transparent;
  stroke: #ff8600;
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.main .product-wrap .card-product .compare-favorites .compare .icon svg .st4 {
  fill: #ff8600;
}

.main .product-wrap .card-product .compare-favorites .favorites {
  cursor: pointer;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .product-wrap .card-product .compare-favorites .favorites .icon {
  width: 30px;
  height: 29px;
}

.main .product-wrap .card-product .compare-favorites .favorites .icon svg .st0 {
  fill: none;
  stroke: #ff8600;
  stroke-width: 3;
  stroke-linecap: round;
  stroke-linejoin: round;
  stroke-miterlimit: 10;
}

.main .product-wrap .card-product .compare-favorites .favorites .icon svg .st1 {
  fill: none;
  stroke: #ff8600;
  stroke-width: 3;
  stroke-miterlimit: 10;
}

.main .product-wrap .fir .img-wrap .img-card {
  background: url(../Image/1.jpg) no-repeat center/contain;
}

.main .product-wrap .sec .img-wrap .img-card {
  background: url(../Image/2.jpg) no-repeat center/contain;
}

.main .product-wrap .sec .reviews-wrap .icons .icon:nth-child(4) svg {
  width: 15px;
  height: 14px;
  fill: #a4a4a4;
}

.main .product-wrap .sec .reviews-wrap .icons .icon:last-child svg {
  width: 15px;
  height: 14px;
  fill: #a4a4a4;
}

.main .product-wrap .thr .img-wrap .img-card {
  background: url(../Image/3.jpg) no-repeat center/contain;
}

.main .product-wrap .thr .reviews-wrap .icons .icon svg {
  width: 15px;
  height: 14px;
  fill: #a4a4a4;
}

.main .product-wrap .tho {
  border: none;
}

.main .product-wrap .tho .img-wrap .img-card {
  background: url(../Image/4.jpg) no-repeat center/contain;
}

footer {
  position: relative;
  z-index: -2;
  width: 100%;
  height: 331px;
  font-family: "Roboto", sans-serif;
  background: #696969;
  padding-top: 36px;
}

footer .scr-foot {
  position: fixed;
  bottom: 0;
  z-index: -1;
}

footer .foot-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-bottom: 1px solid #7a7a7a;
  padding-bottom: 35px;
}

footer .foot-wrap .title {
  display: inline-block;
  position: relative;
  font-size: 20px;
  font-family: "Roboto";
  font-weight: 500;
  color: #cbcbcb;
  margin-bottom: 14px;
}

footer .foot-wrap .title::before {
  content: '';
  position: absolute;
  bottom: -15px;
  left: 0;
  width: 100%;
  height: 1px;
  background: #ff8500;
}

footer .foot-wrap .line {
  height: 1px;
  background: #7a7a7a;
  margin-bottom: 30px;
}

footer .foot-wrap .block-1 {
  margin-right: 76px;
}

footer .foot-wrap .block-1 .line {
  width: 100%;
}

footer .foot-wrap .block-1 .text {
  font-size: 20px;
  color: #cbcbcb;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 9px;
}

footer .foot-wrap .block-1 .subs {
  font-size: 26px;
  color: white;
  text-transform: uppercase;
  font-weight: 900;
  margin-bottom: 9px;
}

footer .foot-wrap .block-1 form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

footer .foot-wrap .block-1 form input::-webkit-input-placeholder {
  color: #9c9c9c;
}

footer .foot-wrap .block-1 form input:-ms-input-placeholder {
  color: #9c9c9c;
}

footer .foot-wrap .block-1 form input::-ms-input-placeholder {
  color: #9c9c9c;
}

footer .foot-wrap .block-1 form input::placeholder {
  color: #9c9c9c;
}

footer .foot-wrap .block-1 form input {
  width: 360px;
  height: 50px;
  background-color: whitesmoke;
  font-size: 14px;
  color: #2e2e2e;
  padding: 0 0 0 30px;
  border: none;
}

footer .foot-wrap .block-1 form input:focus {
  outline: none;
}

footer .foot-wrap .block-1 form button {
  width: 170px;
  height: 50px;
  background: #ff8900;
  font-size: 16px;
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  -webkit-transition: background-color 0.3s ease-in-out;
  transition: background-color 0.3s ease-in-out;
}

footer .foot-wrap .block-1 form button:hover {
  background: #e47900;
}

footer .foot-wrap .block-1 form button:active {
  -webkit-box-shadow: inset 0px 0px 6px 0px #424242;
          box-shadow: inset 0px 0px 6px 0px #424242;
}

footer .foot-wrap .block-2 {
  margin-right: 20px;
}

footer .foot-wrap .line {
  width: 209px;
}

footer .foot-wrap .links {
  margin: 0;
  padding: 0;
}

footer .foot-wrap .links li + li {
  margin-top: 23px;
}

footer .foot-wrap .links li a {
  font-size: 13px;
  color: white;
  text-decoration: underline;
  padding: 5px 5px 5px 0;
}

footer .foot-wrap .links li a:hover {
  text-decoration: none;
}

footer .foot-wrap .block-3 {
  margin-right: 20px;
}

footer .bottom-foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 17px;
}

footer .bottom-foot .logo-copy-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .bottom-foot .social-weezom-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .bottom-foot .logo a {
  display: inline-block;
  line-height: 1;
  color: #7a7a7a;
}

footer .bottom-foot .copyright {
  position: relative;
  margin-left: 20px;
  font-size: 12px;
  color: #a0a9b2;
}

footer .bottom-foot .copyright::before {
  content: '';
  position: absolute;
  top: calc(50% - (42px / 2));
  left: -16px;
  width: 1px;
  height: 42px;
  background: #787878;
}

footer .bottom-foot .social-icons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 235px;
}

footer .bottom-foot .social-icons .icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 49px;
  height: 49px;
  border: 1px solid #7b8092;
  -webkit-transition: border-color 0.3s ease-in-out;
  transition: border-color 0.3s ease-in-out;
}

footer .bottom-foot .social-icons .icon + .icon {
  margin-left: 10px;
}

footer .bottom-foot .social-icons .icon svg {
  width: 16px;
  height: 14px;
}

footer .bottom-foot .social-icons .icon svg path {
  -webkit-transition: fill 0.3s ease-in-out;
  transition: fill 0.3s ease-in-out;
  fill: #fff;
}

footer .bottom-foot .social-icons .icon:hover {
  border-color: #ffc925;
}

footer .bottom-foot .social-icons .icon:hover svg path {
  fill: #ffc925;
}

footer .weezom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

footer .weezom .logo-weezom {
  position: relative;
  width: 42px;
  height: 15px;
  background: url(../Svg/weezom-logo.svg) no-repeat center/contain;
  margin-right: 30px;
}

footer .weezom .logo-weezom::before {
  content: '';
  position: absolute;
  top: calc(50% - (42px / 2));
  right: -16px;
  width: 1px;
  height: 42px;
  background: #787878;
}

footer .weezom .text {
  font-size: 12px;
  color: #a0a9b2;
  margin-bottom: 5px;
}

footer .weezom .weezom-name {
  font-size: 14px;
  font-family: "Myriad Pro";
  color: white;
}

.main-scrl {
  position: relative;
  background: #fff;
  z-index: 1;
  padding-bottom: 60px;
}

.mein-foot {
  position: relative;
  z-index: -1;
}

.product-wrap {
  opacity: 0;
}

.hide {
  display: none;
}

.tranY {
  -webkit-animation-name: tranY;
          animation-name: tranY;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
  opacity: 1;
}

.transform {
  -webkit-transform: translateY(0);
          transform: translateY(0);
}

.show-enter {
  display: block;
}

@-webkit-keyframes tranY {
  0% {
    opacity: 0;
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes tranY {
  0% {
    opacity: 0;
    -webkit-transform: translateY(200px);
            transform: translateY(200px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}
/*# sourceMappingURL=style.css.map */