@media only screen and (min-width: 768px) {
  .owl-carousel button.owl-dot {
    width: 10px;
    height: 10px;
  }
}

@media only screen and (min-width: 768px) {
  .record {
    width: 200px;
    height: 50px;
    border-radius: 30px;
    font-size: 18px;
  }
}

@media only screen and (min-width: 600px) {
  .title {
    font-size: 24px;
  }
}

@media only screen and (min-width: 768px) {
  .title {
    font-size: 30px;
  }
}

@media only screen and (min-width: 900px) {
  header .header-wrap {
    height: 60px;
  }
}

@media only screen and (min-width: 1024px) {
  header .header-wrap .wrap-left .logo {
    padding-left: 57px;
  }
  header .header-wrap .wrap-left .logo::before {
    width: 50px;
    height: 50px;
  }
}

@media only screen and (min-width: 900px) {
  header .header-wrap .wrap-left .menu {
    display: block;
    margin-left: 70px;
  }
}

@media only screen and (min-width: 1024px) {
  header .header-wrap .wrap-left .menu {
    margin-left: 141px;
  }
}

@media only screen and (min-width: 768px) {
  header .header-wrap .wrap-right .facebook {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-left: 59px;
  }
}

@media only screen and (min-width: 768px) {
  header .header-wrap .wrap-right .call-back {
    margin: 0;
    background-position: left;
    width: auto;
  }
  header .header-wrap .wrap-right .call-back span {
    display: block;
    padding-left: 18px;
  }
}

@media only screen and (min-width: 900px) {
  header .header-wrap .wrap-right .burger {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  header .header-wrap .wrap-right .burger {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
    margin-left: 59px;
  }
}

@media only screen and (min-width: 768px) {
  .hero .hero-slider .item {
    padding-top: 75px;
    padding-bottom: 86px;
  }
}

@media only screen and (min-width: 1024px) {
  .hero .hero-slider .item {
    padding-top: 156px;
    padding-bottom: 176px;
  }
}

@media only screen and (min-width: 600px) {
  .hero .hero-slider .item h1 {
    font-size: 36px;
  }
}

@media only screen and (min-width: 1024px) {
  .hero .hero-slider .item h1 {
    font-size: 42px;
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 600px) {
  .hero .hero-slider .item .text {
    font-size: 18px;
  }
}

@media only screen and (min-width: 1024px) {
  .hero .hero-slider .item .text {
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 1024px) {
  .about {
    padding-top: 55px;
  }
}

@media only screen and (min-width: 600px) {
  .about .about-us {
    font-size: 16px;
  }
}

@media only screen and (min-width: 1024px) {
  .about .about-us {
    font-size: 18px;
    line-height: 1.556;
  }
}

@media only screen and (min-width: 1024px) {
  .about .about-us p:first-child {
    margin-top: 36px;
    margin-bottom: 26px;
  }
}

@media only screen and (min-width: 480px) {
  .price-record form .media-wrap-row:nth-child(3) {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (min-width: 768px) {
  .price-record form .media-wrap-row {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (min-width: 768px) {
  .price-record form .phone-name-wrap [class*="media-wrap"] {
    width: 50%;
  }
}

@media only screen and (min-width: 768px) {
  .price-record form .phone-name-wrap {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (min-width: 768px) {
  .price-record form .phone-name-wrap .media-wrap-name {
    margin-right: 30px;
  }
}

@media only screen and (min-width: 768px) {
  .price-record form .phone-name-wrap input[type="text"] {
    margin-bottom: 39px;
  }
}

@media only screen and (min-width: 768px) {
  .price-record form .wrap-range {
    width: 50%;
    padding-bottom: 17px;
    margin-right: 30px;
  }
}

@media only screen and (min-width: 768px) {
  .price-record form .select-wrap {
    width: 50%;
  }
}

@media only screen and (min-width: 768px) {
  .price-record form .select-wrap #select {
    margin-bottom: 49px;
  }
}

@media only screen and (min-width: 768px) {
  .price-record form .approximate-cost {
    margin-bottom: 71px;
  }
}

@media only screen and (min-width: 768px) {
  .price-record form .record {
    margin-bottom: 71px;
  }
}

@media only screen and (min-width: 768px) {
  .price-record form .check-wrap {
    margin-bottom: 89px;
  }
}

@media only screen and (min-width: 768px) {
  .price-record form .check-wrap label {
    margin-left: 42px;
  }
}

@media only screen and (min-width: 768px) {
  .price-record form .check-wrap label::before {
    width: 32px;
    height: 32px;
    left: -42px;
  }
}

@media only screen and (min-width: 768px) {
  .last-work .title-buttons-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media only screen and (min-width: 768px) {
  .last-work .title-buttons-wrap .buttons-wrap {
    margin-bottom: 41px;
  }
}

@media only screen and (min-width: 768px) {
  .last-work .music-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (min-width: 768px) {
  .last-work .clip-items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
}

@media only screen and (min-width: 768px) {
  .last-work .item {
    width: 49%;
    margin-bottom: 40px;
  }
}

@media only screen and (min-width: 480px) {
  .last-work .item .img {
    height: 210px;
  }
}

@media only screen and (min-width: 600px) {
  .last-work .item .img {
    height: 250px;
  }
}

@media only screen and (min-width: 768px) {
  .last-work .item .img {
    height: 282px;
  }
}

@media only screen and (min-width: 768px) {
  .last-work .item .img span {
    font-size: 24px;
  }
}

@media only screen and (min-width: 768px) {
  .last-work .item .signature {
    font-size: 24px;
  }
}

@media only screen and (min-width: 768px) {
  .last-work .mobile-hide {
    display: block;
  }
}

@media only screen and (min-width: 768px) {
  footer {
    margin-top: 180px;
  }
}
/*# sourceMappingURL=media.css.map */