@import '../mixins/mixins.scss';
.owl-carousel {

    button.owl-dot {
        @include mq('tablet') {
            width: 10px;
            height: 10px;
        }
    }
}
.record {
    @include mq('tablet') {
        width: 200px;
        height: 50px;
        border-radius: 30px;
        font-size: 18px;
    }
}

.title {
    @include mq('tablet-small') {
        font-size: 24px;
    }
    @include mq('tablet') {
        font-size: 30px;
    }
}

header {
    .header-wrap {
        @include mq('custom') {
            height: 60px;
        }

        .wrap-left {
            .logo {

                @include mq('tablet-wide') {
                    padding-left: 57px;

                    &::before {
                        width: 50px;
                        height: 50px;
                    }
                }
            }

            .menu {
                @include mq('custom') {
                    display: block;
                    margin-left: 70px;
                }

                @include mq('tablet-wide') {
                    margin-left: 141px;
                }
            }
        }

        .wrap-right {
            .facebook {
                @include mq ('tablet') {
                    order: 1;
                    margin-left: 59px;
                }
            }

            .call-back {
                @include mq ('tablet') {
                    margin: 0;
                    background-position: left;
                    width: auto;

                    span {
                        display: block;
                        padding-left: 18px;
                    }
                }
            }

            .burger {
                @include mq('custom') {
                    display: none;
                }

                @include mq('tablet') {
                    order: 2;
                    margin-left: 59px;
                }
            }
        }
    }
}

.hero {
    .hero-slider {
        .item {
            @include mq('tablet') {
                padding-top: 75px;
                padding-bottom: 86px;

            }

            @include mq('tablet-wide') {
                padding-top: 156px;
                padding-bottom: 176px;

            }

            h1 {
                @include mq('tablet-small') {
                    font-size: 36px;
                }

                @include mq('tablet-wide') {
                    font-size: 42px;
                    margin-bottom: 40px;
                }
            }

            .text {
                @include mq('tablet-small') {
                    font-size: 18px;
                }

                @include mq('tablet-wide') {
                    margin-bottom: 40px;
                }
            }
        }
    }
}

.about {
    @include mq('tablet-wide') {
        padding-top: 55px;
    }

    .about-us {
        @include mq('tablet-small') {
            font-size: 16px;
        }

        @include mq('tablet-wide') {
            font-size: 18px;
            line-height: 1.556;
        }

        p:first-child {
            @include mq('tablet-wide') {
                margin-top: 36px;
                margin-bottom: 26px;
            }
        }
    }
}

.price-record {
    form {
        .media-wrap-row:nth-child(3) {
            @include mq('phone-wide') {
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }
        }

        .media-wrap-row {
            @include mq('tablet') {
                flex-direction: row;
                align-items: center;
                justify-content: space-between;
            }
        }

        .phone-name-wrap {
            [class*="media-wrap"] {
                @include mq('tablet') {
                    width: 50%;
                }
            }

            @include mq('tablet') {
                flex-direction: row;
                justify-content: space-between;
            }

            .media-wrap-name {
                @include mq('tablet') {
                    margin-right: 30px;
                }
            }

            input[type="text"] {
                @include mq('tablet') {
                    margin-bottom: 39px;
                }
            }
        }

        .wrap-range {
            @include mq('tablet') {
                width: 50%;
                padding-bottom: 17px;
                margin-right: 30px;
            }
        }

        .select-wrap {
            @include mq('tablet') {
                width: 50%;
            }

            #select {
                @include mq('tablet') {
                    margin-bottom: 49px;
                }
            }
        }

        .approximate-cost {
            @include mq('tablet') {
                margin-bottom: 71px;
            }
        }

        .record {
            @include mq('tablet') {
                margin-bottom: 71px;
            }
        }

        .check-wrap {
            @include mq('tablet') {
                margin-bottom: 89px;
            }

            label {
                @include mq('tablet') {
                    margin-left: 42px;
                }

                &::before {
                    @include mq('tablet') {
                        width: 32px;
                        height: 32px;
                        left: -42px;
                    }
                }
            }
        }
    }
}

.last-work {
    .title-buttons-wrap {
        @include mq('tablet') {
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .buttons-wrap {
            @include mq('tablet') {
                margin-bottom: 41px;
            }
        }
    }

    .music-items {
        @include mq('tablet') {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    .clip-items {
        @include mq('tablet') {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }
    }

    .item {
        @include mq('tablet') {
            width: 49%;
            margin-bottom: 40px;
        }

        .img {
            @include mq('phone-wide') {
                height: 210px;
            }
            @include mq('tablet-small') {
                height: 250px;
            }
            @include mq('tablet') {
                height: 282px;
            }

            span {
                @include mq('tablet') {
                    font-size: 24px;
                }
            }
        }

        .signature {
            @include mq('tablet') {
                font-size: 24px;
            }
        }
    }

    .mobile-hide {
        @include mq('tablet') {
            display: block;
        }
    }
}

footer {
    @include mq('tablet') {
        margin-top: 180px;
    }
}