body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

ul,
ol {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  border: none;
}

button:focus {
  outline: none;
}

.container-header {
  max-width: 1190px;
  padding: 0 10px;
  margin: 0 auto;
}

.container-main {
  max-width: 990px;
  padding: 0 10px;
  margin: 0 auto;
}

.screen-dimming {
  display: none;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: #000;
  opacity: 0.5;
  z-index: 10;
}

a.record {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.record {
  width: 164px;
  height: 41px;
  background: #e67e22;
  color: #fff;
  font-size: 14px;
  border-radius: 20px;
  -webkit-transition: background-color 0.2s ease-in-out;
  transition: background-color 0.2s ease-in-out;
}

.record:hover {
  background: #2980b9;
}

.record:active {
  -webkit-box-shadow: inset 0 0 8px 1px rgba(0, 0, 0, 0.5);
          box-shadow: inset 0 0 8px 1px rgba(0, 0, 0, 0.5);
}

.title {
  position: relative;
  margin: 0;
  font-size: 22px;
  color: black;
  font-weight: 500;
  padding-left: 36px;
}

.title::before {
  content: "";
  display: block;
  position: absolute;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 26px;
  height: 2px;
  background: #b8b8b8;
  left: 0;
}

header {
  position: relative;
  z-index: 11;
  background: #2980b9;
}

header .header-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
}

header .header-wrap .wrap-left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-wrap .wrap-left .logo {
  position: relative;
  padding-left: 47px;
  font-size: 16px;
  color: white;
  font-weight: 300;
  line-height: 2;
}

header .header-wrap .wrap-left .logo::before {
  content: "";
  display: block;
  position: absolute;
  width: 40px;
  height: 40px;
  background: url(../icons/logo.svg) no-repeat center/contain;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 0;
}

header .header-wrap .wrap-left .menu {
  display: none;
}

header .header-wrap .wrap-left .menu ul .select-menu a {
  padding-right: calc(17px + 31px);
}

header .header-wrap .wrap-left .menu ul .select-menu .select-link:before {
  content: "";
  display: block;
  position: absolute;
  background: url(../icons/arrow.svg) no-repeat center/contain;
  width: 17px;
  height: 9px;
  right: 0;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

header .header-wrap .wrap-left .menu ul li {
  position: relative;
  display: inline-block;
}

header .header-wrap .wrap-left .menu ul li + li {
  margin-left: 43px;
}

header .header-wrap .wrap-left .menu ul li a {
  font-size: 16px;
  position: relative;
  color: #fff;
  font-weight: 300;
}

header .header-wrap .wrap-left .menu ul li .submenu {
  display: none;
  position: absolute;
  background: #fff;
  top: 39px;
  left: 0;
  width: 170px;
  padding: 11px 11px;
}

header .header-wrap .wrap-left .menu ul li .submenu ul li {
  display: block;
}

header .header-wrap .wrap-left .menu ul li .submenu ul li + li {
  margin: 8px 0 0 0;
}

header .header-wrap .wrap-left .menu ul li .submenu ul li ul {
  margin-top: 11px;
  padding-left: 18px;
}

header .header-wrap .wrap-left .menu ul li .submenu ul li a {
  padding-right: 0;
  font-size: 16px;
  color: black;
  -webkit-transition: color 0.3s ease-in-out;
  transition: color 0.3s ease-in-out;
}

header .header-wrap .wrap-left .menu ul li .submenu ul li a:hover {
  color: #e67e22;
}

header .header-wrap .wrap-right {
  margin-left: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header .header-wrap .wrap-right .facebook {
  cursor: pointer;
  position: relative;
  width: 40px;
  height: 40px;
  border: 1px solid #fff;
  border-radius: 50%;
  margin-left: auto;
}

header .header-wrap .wrap-right .facebook::before {
  content: "";
  display: block;
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: url(../icons/facebook.svg) no-repeat center/contain;
  width: 13px;
  height: 24px;
}

header .header-wrap .wrap-right .call-back {
  cursor: pointer;
  padding: 5px;
  width: 16px;
  height: 16px;
  background: url(../icons/phone.svg) no-repeat center;
  background-size: 16px 16px;
  margin-left: auto;
  margin-left: 14px;
}

header .header-wrap .wrap-right .call-back span {
  display: none;
  font-size: 16px;
  color: white;
  font-weight: 500;
}

header .header-wrap .wrap-right .burger {
  cursor: pointer;
  margin-left: auto;
  width: 29px;
  height: 20px;
  margin-left: 14px;
  background: url(../icons/bars.svg) no-repeat center/contain;
}

header .menu-mobile {
  display: none;
  position: absolute;
  top: 50px;
  background: #fff;
  width: 100%;
  padding: 13px 0;
  z-index: 2;
}

header .menu-mobile ul li + li {
  margin-top: 17px;
}

header .menu-mobile ul li ul {
  padding-top: 13px;
  padding-left: 36px;
}

header .menu-mobile ul li a {
  color: #000;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
}

header .menu-mobile ul li a:hover {
  color: #e67e22;
}

.hero .hero-slider .item {
  width: 100%;
  padding-top: 45px;
  padding-bottom: 79px;
  color: #fff;
  background: url(../image/slider-image.jpg) no-repeat center/cover;
}

.hero .hero-slider .item h1 {
  max-width: 693px;
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 1.5;
  font-weight: 300;
}

.hero .hero-slider .item .text {
  font-size: 14px;
  line-height: 1.571;
  font-weight: 300;
  margin-bottom: 30px;
}

.hero .hero-slider .item .text p {
  margin: 0;
}

.owl-carousel .owl-nav {
  background: rgba(211, 84, 0, 0.42);
  position: absolute;
  right: 0;
  top: 0;
}

.owl-carousel .owl-nav .owl-prev {
  display: none;
}

.owl-carousel .owl-nav .owl-next {
  position: relative;
  width: 55px;
  height: 640px;
}

.owl-carousel .owl-nav .owl-next::before {
  content: "";
  display: block;
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  background: url(../icons/slider-arrow.svg) no-repeat center/contain;
  width: 22px;
  height: 42px;
}

.owl-carousel .owl-nav .owl-next span {
  display: none;
}

.owl-carousel .owl-dots {
  position: absolute;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  bottom: 20px;
}

.owl-carousel button.owl-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  border: 1px solid #e67e22;
}

.owl-carousel button.owl-dot:not(:last-child) {
  margin-right: 5px;
}

.owl-carousel button.owl-dot.active {
  background: #e67e22;
}

.about {
  padding-top: 27px;
  padding-bottom: 37px;
}

.about .about-us {
  font-size: 14px;
  line-height: 1.714;
}

.about .about-us p:first-child {
  margin-top: 20px;
  margin-bottom: 12px;
}

.about .about-us p:first-child span.color {
  color: #2980b9;
}

.about .about-us p:first-child span.line {
  position: relative;
}

.about .about-us p:first-child span.line::before {
  content: "";
  display: block;
  position: absolute;
  bottom: 1px;
  left: 0;
  width: 100%;
  height: 1px;
  background: rgba(52, 152, 219, 0.3);
}

.about .about-us p:last-child {
  margin: 0;
}

[class*="media-wrap"] {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.price-record .title {
  margin-bottom: 28px;
}

.price-record form {
  max-width: 800px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.price-record form label {
  font-size: 16px;
  color: black;
  font-weight: 500;
  margin-bottom: 13px;
}

.price-record form .phone-name-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.price-record form .phone-name-wrap input {
  height: 55px;
  border-radius: 3px;
  padding-left: 13px;
  border: 1px solid #bebebe;
}

.price-record form .phone-name-wrap input:focus {
  outline-color: #2980b9;
}

.price-record form .phone-name-wrap input[type="text"] {
  margin-bottom: 26px;
}

.price-record form .phone-name-wrap input[type="tel"] {
  margin-bottom: 26px;
}

.price-record form .phone-name-wrap input[type="tel"]::-webkit-input-placeholder {
  font-size: 14px;
  color: black;
}

.price-record form .phone-name-wrap input[type="tel"]:-ms-input-placeholder {
  font-size: 14px;
  color: black;
}

.price-record form .phone-name-wrap input[type="tel"]::-ms-input-placeholder {
  font-size: 14px;
  color: black;
}

.price-record form .phone-name-wrap input[type="tel"]::placeholder {
  font-size: 14px;
  color: black;
}

.price-record form .phone-name-wrap input[type="text"]::-webkit-input-placeholder {
  font-size: 16px;
  color: #666666;
}

.price-record form .phone-name-wrap input[type="text"]:-ms-input-placeholder {
  font-size: 16px;
  color: #666666;
}

.price-record form .phone-name-wrap input[type="text"]::-ms-input-placeholder {
  font-size: 16px;
  color: #666666;
}

.price-record form .phone-name-wrap input[type="text"]::placeholder {
  font-size: 16px;
  color: #666666;
}

.price-record form .wrap-range {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.price-record form .wrap-range label {
  margin-bottom: 27px;
}

.price-record form .wrap-range .wrap-minute {
  padding-top: 16px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  font-size: 14px;
  margin-bottom: 25px;
  font-weight: 500;
}

.price-record form .select-wrap {
  position: relative;
}

.price-record form .select-wrap #select {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-top: 13px;
  cursor: pointer;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 55px;
  border-radius: 3px;
  padding-left: 13px;
  border: 1px solid #bebebe;
  margin-bottom: 31px;
}

.price-record form .select-wrap #select::before {
  content: "";
  display: block;
  position: absolute;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 10px;
  width: 21px;
  height: 11px;
  background: url(../icons/select.svg) no-repeat center/contain;
}

.price-record form .select-wrap .select-click {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  display: none;
  position: absolute;
  top: 87px;
  width: -webkit-fill-available;
  width: -moz-available;
  width: fill-available;
  background: #fff;
  border: 1px solid #bebebe;
  z-index: 9;
}

.price-record form .select-wrap .select-click ul {
  padding: 18px 0 10px 18px;
}

.price-record form .select-wrap .select-click ul li {
  padding: 5px;
  cursor: pointer;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  width: 100%;
}

.price-record form .select-wrap .select-click ul li + li {
  margin-top: 13px;
}

.price-record form .select-wrap .select-click ul li:hover {
  color: #2980b9;
}

.price-record form .approximate-cost {
  font-size: 16px;
  color: black;
  font-weight: 500;
  margin-bottom: 27px;
}

.price-record form .approximate-cost .price {
  font-size: 24px;
  color: #2980b9;
}

.price-record form .record {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  margin-bottom: 24px;
}

.price-record form .check-wrap {
  font-size: 14px;
  color: black;
  margin-bottom: 41px;
}

.price-record form .check-wrap input[type=checkbox] {
  display: none;
}

.price-record form .check-wrap label {
  position: relative;
  margin-left: 32px;
}

.price-record form .check-wrap label::-moz-selection {
  background: transparent;
}

.price-record form .check-wrap label::selection {
  background: transparent;
}

.price-record form .check-wrap label::-moz-selection {
  background: transparent;
}

.price-record form .check-wrap label::before {
  cursor: pointer;
  content: "";
  display: block;
  position: absolute;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 23px;
  height: 23px;
  left: -32px;
  border: 1px solid #888888;
}

.price-record form input[type=checkbox]:checked + label:before {
  background: url(../icons/checked.svg) no-repeat center;
  background-size: 60% auto;
}

.last-work .title {
  margin-bottom: 31px;
}

.last-work .buttons-wrap {
  margin-bottom: 31px;
}

.last-work .buttons-wrap button {
  cursor: pointer;
  font-size: 16px;
  color: #000;
  position: relative;
  background: none;
  -webkit-transition: color 0.2s ease-in-out;
  transition: color 0.2s ease-in-out;
  border-bottom: 1px solid #c2e0f4;
}

.last-work .buttons-wrap button:hover {
  color: #2980b9;
}

.last-work .buttons-wrap button + button {
  margin-left: 23px;
}

.last-work .buttons-wrap .active {
  color: #2980b9;
  border: none;
}

.last-work .mobile-hide {
  display: none;
}

.last-work .item {
  margin-bottom: 27px;
}

.last-work .item .img {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 180px;
  background: url(../image/template-image.jpg) no-repeat top/cover;
}

.last-work .item .img span {
  position: relative;
  font-size: 16px;
  color: white;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
  z-index: 5;
}

.last-work .item .img::before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.59;
  -webkit-transform: scale(0);
          transform: scale(0);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.last-work .item .img:hover:before {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.last-work .item .img:hover span {
  opacity: 1;
}

.last-work .item .signature {
  display: inline-block;
  margin-top: 14px;
  color: #000;
  font-size: 16px;
}

.last-work .music-items {
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.last-work .clip-items {
  -webkit-transition: opacity 0.5s ease-in-out;
  transition: opacity 0.5s ease-in-out;
  opacity: 0;
}

.display-none {
  display: none !important;
}

.last-work .visible-1 {
  opacity: 1;
}

footer {
  margin-top: 66px;
  background: #eeeeee;
}

footer .name-company {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 105px;
  font-size: 14px;
  color: black;
}
/*# sourceMappingURL=style.css.map */