$breakpoints: ("phone": 320px,
"phone-wide": 480px,
"tablet-small": 600px,
"tablet": 768px,
"tablet-wide": 1024px,
"desktop": 1248px,
"custom": 900px,
);

@mixin mq($width, $type: min) {
    @if map_has_key($breakpoints, $width) {
        $width: map_get($breakpoints, $width);

        @media only screen and (#{$type}-width: $width) {
            @content;
        }
    }
}

.logo {
    @include mq('tablet') {
        background: url(../Icons/Logo.svg) no-repeat center / contain;
        width: 122px;
        height: 26px;
    }
}

header {
    .header-top {
        @include mq('tablet-small') {
            display: block;
        }
        .header-wrap-top {
            @include mq('tablet-small') {
                justify-content: center;
            }
            @include mq('tablet') {
                justify-content: flex-end;
            }
        }
    }

    .header-main {
        .header-wrap-main {
            @include mq('tablet') {
                height: 74px;
            }

            .burger-menu-icon {
                @include mq('tablet') {
                    display: none;
                }
            }

            nav {
                @include mq('tablet') {
                    display: block;
                }

                @include mq('custom') {
                    margin-left: 60px;
                }

                ul {
                    li+li {
                        @include mq('custom') {
                            margin-left: 30px;
                        }
                    }
                }
            }

            .dropbox {
                .text {
                    @include mq('tablet-small') {
                        display: block;
                    }
                    @include mq('tablet') {
                        display: none;
                    }
                    @include mq('custom') {
                        display: block;
                    }
                }
            }

            .logout {
                @include mq('tablet-small') {
                    display: flex;
                }
            }
        }
    }
}
.copyright {
    @include mq('tablet') {
        margin-bottom: 12px;
    }
}
main {
    .main-wrap {
        @include mq('tablet-small') {
            padding-top: 40px;
        }

        .media-wrap {
            @include mq('tablet') {
                display: flex;
                flex-direction: row;
            }

            .img {
                @include mq('tablet') {
                    width: 480px;
                    height: 335px;
                    background-size: 130% auto;
                    margin: 0;
                }
            }

            .title {
                @include mq('tablet') {
                    text-align: left;
                    margin-top: 0;
                    margin-bottom: 10px;
                    font-size: 30px;
                    letter-spacing: -1.2px;
                }
                @include mq('custom') {
                    font-size: 36px;
                }
            }

            .text-title-wrap {
                @include mq('tablet') {
                    padding-left: 30px;
                }
            }
        }

        .text {
            @include mq('tablet') {
                font-size: 14px;
                line-height: 24px;
                padding: 0;
            }

            @include mq('custom') {
                font-size: 16px;
                line-height: 24px;
            }
        }

        .first-block-text {
            @include mq('tablet') {
                max-width: 448px;
            }
        }

        .second-block-text {
            @include mq('tablet') {
                max-width: 706px;
                text-align: center;
                margin-top: 26px;
            }
        }
    }
}