@media only screen and (min-width: 768px) {
  .logo {
    background: url(../Icons/Logo.svg) no-repeat center/contain;
    width: 122px;
    height: 26px;
  }
}

@media only screen and (min-width: 600px) {
  header .header-top {
    display: block;
  }
}

@media only screen and (min-width: 600px) {
  header .header-top .header-wrap-top {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

@media only screen and (min-width: 768px) {
  header .header-top .header-wrap-top {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}

@media only screen and (min-width: 768px) {
  header .header-main .header-wrap-main {
    height: 74px;
  }
}

@media only screen and (min-width: 768px) {
  header .header-main .header-wrap-main .burger-menu-icon {
    display: none;
  }
}

@media only screen and (min-width: 768px) {
  header .header-main .header-wrap-main nav {
    display: block;
  }
}

@media only screen and (min-width: 900px) {
  header .header-main .header-wrap-main nav {
    margin-left: 60px;
  }
}

@media only screen and (min-width: 900px) {
  header .header-main .header-wrap-main nav ul li + li {
    margin-left: 30px;
  }
}

@media only screen and (min-width: 600px) {
  header .header-main .header-wrap-main .dropbox .text {
    display: block;
  }
}

@media only screen and (min-width: 768px) {
  header .header-main .header-wrap-main .dropbox .text {
    display: none;
  }
}

@media only screen and (min-width: 900px) {
  header .header-main .header-wrap-main .dropbox .text {
    display: block;
  }
}

@media only screen and (min-width: 600px) {
  header .header-main .header-wrap-main .logout {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media only screen and (min-width: 600px) {
  main .main-wrap {
    padding-top: 40px;
  }
}

@media only screen and (min-width: 768px) {
  main .main-wrap .media-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
}

@media only screen and (min-width: 768px) {
  main .main-wrap .media-wrap .img {
    width: 480px;
    height: 335px;
    background-size: 130% auto;
    margin: 0;
  }
}

@media only screen and (min-width: 768px) {
  main .main-wrap .media-wrap .title {
    text-align: left;
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 30px;
    letter-spacing: -1.2px;
  }
}

@media only screen and (min-width: 900px) {
  main .main-wrap .media-wrap .title {
    font-size: 36px;
  }
}

@media only screen and (min-width: 768px) {
  main .main-wrap .media-wrap .text-title-wrap {
    padding-left: 30px;
  }
}

@media only screen and (min-width: 768px) {
  main .main-wrap .text {
    font-size: 14px;
    line-height: 24px;
    padding: 0;
  }
}

@media only screen and (min-width: 900px) {
  main .main-wrap .text {
    font-size: 16px;
    line-height: 24px;
  }
}

@media only screen and (min-width: 768px) {
  main .main-wrap .first-block-text {
    max-width: 448px;
  }
}

@media only screen and (min-width: 768px) {
  main .main-wrap .second-block-text {
    max-width: 706px;
    text-align: center;
    margin-top: 26px;
  }
}
/*# sourceMappingURL=media.css.map */